@keyframes arrow {
  from {
    right: 15px;
  }
  40% {
    animation-timing-function: ease-in;
    right: 25px;
  }
  60% {
    animation-timing-function: ease-in;
    right: 15px;
  }
  80% {
    animation-timing-function: ease-in;
    right: 20px;
  }
  to {
    animation-timing-function: ease-in;
    right: 15px;
  }
}
@keyframes arabic-arrow {
  from {
    left: 15px;
  }
  40% {
    animation-timing-function: ease-in;
    left: 25px;
  }
  60% {
    animation-timing-function: ease-in;
    left: 15px;
  }
  80% {
    animation-timing-function: ease-in;
    left: 20px;
  }
  to {
    animation-timing-function: ease-in;
    left: 15px;
  }
}
.page-node-type-interactive-map .ui-widget-content {
  border-radius: 10px;
  border: none;
}
.page-node-type-interactive-map .ui-widget-content .ui-dialog-titlebar {
  background: white;
  border: none;
  position: relative;
  padding: 0;
}
.page-node-type-interactive-map .ui-widget-content .ui-dialog-titlebar-close {
  transition: all 0.5s ease;
  z-index: 1000;
  position: absolute;
  top: 19px;
  right: 11px;
  display: inline-block;
  text-align: center;
  font-size: 11px;
  line-height: 0;
  width: 21px;
  height: 17px;
  background-color: #FFFFFF;
  padding-top: 6px;
  border-radius: 100%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.page-node-type-interactive-map .ui-widget-content .ui-dialog-titlebar-close:focus {
  box-shadow: unset;
}
.page-node-type-interactive-map .ui-widget-content .ui-dialog-titlebar-close:hover {
  opacity: 0.75;
}
.page-node-type-interactive-map .ui-widget-content .ui-dialog-title {
  display: none;
}
.page-node-type-interactive-map .ui-widget-content .ui-dialog-content {
  padding: 0;
}
.page-node-type-interactive-map .ui-widget-content h2 {
  display: none;
}
.page-node-type-interactive-map .ui-widget-content h2 a {
  color: #000000;
  font-size: 19px;
  font-weight: normal;
  line-height: 22px;
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}
.page-node-type-interactive-map .ui-widget-content .field--name-field-at-the-airport-image img {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 100%;
  align-items: center;
  justify-content: center;
  min-height: 260px;
  max-height: 260px;
}
.page-node-type-interactive-map .ui-widget-content .field--name-field-location {
  position: absolute;
  left: 15px;
  top: 15px;
  background-color: #9db0ac;
  border-radius: 2px;
  padding: 4px 8px 2px;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  letter-spacing: 0.46px;
  z-index: 1;
  display: inline-block;
}
.page-node-type-interactive-map .ui-widget-content .field--name-field-location a {
  text-decoration: none;
  color: #FFFFFF;
  cursor: default;
  pointer-events: none;
}
.page-node-type-interactive-map .ui-widget-content .field--name-title {
  font-size: 19px;
  line-height: 22px;
  color: #000000;
  display: block;
  margin: 10px 0 0 15px;
}
.page-node-type-interactive-map .ui-widget-content .field--name-title:lang(ar) {
  margin: 10px 15px 0 0;
}
.page-node-type-interactive-map .ui-widget-content .field--name-body {
  padding: 15px;
}
@media (max-width: 48em) {
  .page-node-type-interactive-map .ui-dialog {
    width: 310px !important;
  }
  .page-node-type-interactive-map .ui-widget-content .field--name-field-at-the-airport-image img {
    height: 100%;
    min-height: 220px;
    max-height: 220px;
  }
}

.path-flight-tracker #block-bahrain-theme-page-title {
  display: none;
}
.path-flight-tracker #flights-map {
  margin-top: 50px;
}
/*# sourceMappingURL=interactive-map.css.map */
