#flights-map {
  height: 700px;
  width: 100%;
  margin-bottom: 50px;
}

.valid-email-message {
  background-color: #d4edda;
  border-bottom: #d4edda;
  font-weight: bolder;
  color: #155724;
}

.invalid-email-message {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  font-weight: bolder;
}
