@import 'mixins.scss';
@import 'variables_drupal.scss';

.bahrain-airport-company {
    .region-content {
        padding: 0 25px;
        @include page_title;
        .view-bahrain-airport-company {
            margin-top: 45px;
            color: $dark-violet;
        }
        .view-header {
            margin-bottom: 30px;
        }
        .paragraph--type--corporate-with-image {
            text-align: justify;
            display: flex;
            margin-bottom: 70px;
            .field--name-field-corporate-image {
                max-width: 41.666667%;
            }
            .with_img_text {
                max-width: 58.333333%;
                padding-left: 100px;
                margin: auto 0;
                .field--name-field-corp-title {
                    font-weight: 700;
                    color: $black;
                    font-size: 22px;
                    line-height: 1.2;
                }
            }
            .with_img_text:lang(ar) {
                padding-left: 0;
                padding-right: 100px;
            }
            @media (max-width: 1227px) {
                .field--name-field-corporate-image {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }
                .with_img_text {
                    padding-left: 20px;
                }
                .with_img_text:lang(ar) {
                    padding-left: 0;
                    padding-right: 20px;
                }
            }
        
        }
        @media (max-width: 767px) { 
            .paragraph--type--corporate-with-image {
                flex-direction: column;
                .field--name-field-corporate-image {
                    margin-bottom: 35px;
                    max-width: 100%;
                    img {
                        margin: 0 auto;
                    }
                }
                .with_img_text {
                    max-width: 100%;
                    padding-left: 0;
                    margin-top: 20px;
                }
                .with_img_text:lang(ar) {
                    padding-right: 0;
                }
            }
        }
    }
}

.board-of-directors {
    .region-content {
        @include page_title;
        margin-top: 45px;
        .paragraph--type--corporate-with-image {
            margin: 20px 0;
            display: flex;
            .field--name-field-corporate-image {
                max-width: 41.666667%;
                img {
                    width: 300px;
                }
            }
            .with_img_text {
                word-wrap: break-word;
                max-width: 58.333333%;
                margin: auto 0 auto auto;
                padding: 0 15px;
                .field--name-field-corp-title {
                    font-weight: 700;
                    color: $black;
                    font-size: 22px;
                    line-height: 1.2;
                }
            }
        }
        @media (max-width: 747px) {
            .paragraph--type--corporate-with-image {
                flex-direction: column;
                .field--name-field-corporate-image {
                    max-width: 100%;
                    margin: 0 auto;
                }
                .with_img_text {
                    margin: 15px auto 0;
                    max-width: 100%;
                }
                
            }
        } 
    }
}

.executive-management {
    .region-content {
        @include page_title;
        margin-top: 45px;
        .paragraph--type--corporate-with-image {
            margin: 20px 0;
            display: flex;
            .field--name-field-corporate-image {
                max-width: 41.666667%;
                img {
                    width: 300px;
                }
            }
            .with_img_text {
                word-wrap: break-word;
                max-width: 58.333333%;
                margin: auto 0 auto auto;
                padding: 0 15px;
                .field--name-field-corp-title {
                    font-weight: 700;
                    color: $black;
                    font-size: 22px;
                    line-height: 1.2;
                }
            }
        }
        @media (max-width: 747px) {
            .paragraph--type--corporate-with-image {
                flex-direction: column;
                .field--name-field-corporate-image {
                    max-width: 100%;
                    margin: 0 auto;
                }
                .with_img_text {
                    margin: 15px auto 0;
                    max-width: 100%;
                }
                
            }
        } 
    }
}

.governance {
    .region-content {
        @include page_title;
        .field--name-field-corporate-image {
            display: flex;
            justify-content: center;
        }
    }
}

.bahrain-international-airport {
    .region-content {
        @include page_title;
        .view-bahrain-airport-company {
            margin-top: 45px;
            color: $dark-violet;
        }
        .view-header {
            margin-bottom: 30px;
        }
        .paragraph--type--corporate-with-image {
            text-align: justify;
            display: flex;
            flex-direction: row-reverse;
            margin-bottom: 70px;
            .field--name-field-corporate-image {
                max-width: 41.666667%;
            }
            .with_img_text {
                max-width: 58.333333%;
                padding-right: 40px;
                margin: auto 0;
                .field--name-field-corp-title {
                    font-weight: 700;
                    color: $black;
                    font-size: 22px;
                    line-height: 1.2;
                }
            }
            .with_img_text:lang(ar) {
                padding-right: 0;
                padding-left: 40px;
            }
            @media (max-width: 1227px) {
                .field--name-field-corporate-image {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }
                .with_img_text {
                    padding-right: 20px;
                }
                .with_img_text:lang(ar) {
                    padding-right: 0;
                    padding-left: 20px;
                }
            }
        
        }
        @media (max-width: 767px) { 
            .paragraph--type--corporate-with-image {
                flex-direction: column;
                .field--name-field-corporate-image {
                    margin-bottom: 35px;
                    max-width: 100%;
                    img {
                        margin: 0 auto;
                    }
                }
                .with_img_text {
                    max-width: 100%;
                    padding-right: 0;
                    margin-top: 20px;
                }
                .with_img_text:lang(ar) {
                    padding-left: 0;
                }
            }
        }
    }
    .red_wrapper {
        background-image: url("../img/wheretopark-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        padding: 90px 0;
        display: flex;
        justify-content: center;
        width: 100vw;
        left: calc(-50vw + 50%);
        position: relative;
        &:lang(ar){
            right: calc(-50vw + 50%);
        }
        #block-factsandfiguresabouttheairport {
            max-width: 1200px;
            padding: 0 15px;
            margin: 0 auto;
            display: flex;
            h2 {
                max-width: 20%;
                color: $white;
                font-size: 35px;
                font-weight: 700;
                line-height: 42px;
                padding: 0 10px;
            }
            .field--name-field-paragraph-ulty {
                display: grid;
                max-width: 80%;
                cursor: default;
                padding-left: 38px;
                grid-template-columns: 1fr 1fr;
                color: $white;
                &:lang(ar) {
                    padding-left: 0;
                    padding-right: 38px;
                }
                .paragraph--type--facts-and-figures-about-the-airp {
                    max-width: 88%;
                    margin-bottom: 35px;
                    .field--name-field-facts-image {
                        margin-bottom: 20px;
                        img {
                        vertical-align: middle;
                        border-style: none;
                        width: 42px;
                        height: 42px;
                        }
                    }
                    .field--name-field-facts-tag {
                        font-size: 22px;
                        font-weight: 700;
                    }
                    .field--name-field-facts-number {
                        font-size: 55px;
                        font-weight: 700;
                    }
                    .field--name-field-facts-long {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
            @media (max-width: 891px) {
                flex-direction: column;
                h2 {
                    margin: 0 auto 25px;
                    max-width: 100%;
                    text-align: center;
                }
                .field--name-field-paragraph-ulty {
                    max-width: 100%;
                }
            }
            @media (max-width: 770px) { 
                h2 {
                    font-size: 28px;
                } 
                .field--name-field-paragraph-ulty {
                    .paragraph--type--facts-and-figures-about-the-airp {
                        text-align: center;
                        .field--name-field-facts-tag {
                            font-size: 18px;
                        }
                        .field--name-field-facts-number {
                            font-size: 45px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 494px) {
        .red_wrapper {
            padding: 45px 0;
            #block-factsandfiguresabouttheairport {
                .field--name-field-paragraph-ulty {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
    .block-wrapper-our-story {
        background-color: $dark-grey;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        padding: 30px 0;
        display: flex;
        justify-content: center;
        width: 100vw;
        left: calc(-50vw + 50%);
        position: relative;
        &:lang(ar){
            right: calc(-50vw + 50%);
        }
        .block-views-blockour-story-block-1 {
            max-width: 1200px;
            width: 100%;
            padding: 0 15px;
            .view-content {
                position: relative;
                .slide__description {
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    grid-template-rows: repeat(3,1fr);
                    .views-field-field-image {
                        order: -1;
                        grid-column: 1/2;
                        grid-row: 1/5;
                    }
                    .views-field-title {
                        span {
                            font-size: 65px;
                            line-height: 72px;
                            font-weight: 700;
                            color: $red;
                        }
                    }
                    .views-field-body {
                        max-width: 400px;
                        p {
                            font-size: 18px;
                            line-height: 1.56;
                        }
                    }
                }
                .year-dots {
                    position: absolute;
                    right: 0;
                    top: 0;
                    list-style: none;
                    li {
                        &.slick-active button {
                            background-color: $red;
                            &::before {
                                color: $white;
                                background-color: $red
                            }
                        }
                        button {
                            font-size: 0;
                            background: none;
                            border: none;
                            padding: 8px 12px;
                            background-color: $white;
                            width: 55px;
                            &::before {
                                font-size: 14px;
                                background-color: $white;
                            }
                        }
                    }
                    li:nth-child(1) button::before {
                        content: "1927";
                    }
                    li:nth-child(2) button::before {
                        content: "1932";
                    }
                    li:nth-child(3) button::before {
                        content: "1937";
                    }
                    li:nth-child(4) button::before {
                        content: "1950";
                    }
                    li:nth-child(5) button::before {
                        content: "1963";
                    }
                    li:nth-child(6) button::before {
                        content: "1970";
                    }
                    li:nth-child(7) button::before {
                        content: "1976";
                    }
                    li:nth-child(8) button::before {
                        content: "1980";
                    }
                    li:nth-child(9) button::before {
                        content: "1984";
                    }
                    li:nth-child(10) button::before {
                        content: "2008";
                    }
                    li:nth-child(11) button::before {
                        content: "2010";
                    }
                    li:nth-child(12) button::before {
                        content: "2021";
                    }
                    &:lang(ar) {
                        left: 0;
                        right: auto;
                    }
                }
                .slick__arrow{
                    position: absolute;
                    width: 100px;
                    left: 50%;
                    top: 76%;
                    padding: 0 15px;
                    .slick-prev{
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-color: $white;
                    background-image: url('../img/slider-arrow.png');
                        &::before{
                            font-family: none;
                            content: none;
                        }
                    }
                    .slick-next{
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-color: $white;
                    background-image: url('../img/slider_next.jpg');
                        &::before{
                            font-family: none;
                            content: none;
                        }
                    }
                    &:lang(ar) {
                        top: 70%;
                        left: 40%;
                        width: 100px;
                        .slick-prev {
                            left: 0;
                            right: auto;
                        }
                        .slick-next {
                            right: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 1100px) {
        .block-wrapper-our-story  {
            padding-bottom: 70px;
            .block-views-blockour-story-block-1 .view-content {
                .slide__description {
                    display: block;
                    .views-field-field-image .field-content{
                        display: flex;
                        justify-content: center;
                    }
                    .views-field-title {
                        width: 125px;
                        margin: 0 auto;
                    }
                    .views-field-body {
                        margin: 0 auto;
                        text-align: center;
                        p {
                            height: auto;
                        }
                    }
                }
                .year-dots {
                    display: none;
                }
                .slick__arrow {
                    left:50%;
                    margin-left: -50px;
                    top: 100%;
                    margin-top: 30px;
                    &:lang(ar) {
                        left: 50%;
                        margin-left: -50px;
                        top: 100%;
                        margin-top: 30px;
                    }
                }
            }
        }
    }  
}
.corporate-social-responsibility {
    .region-content {
        padding: 0 25px;
        @include page_title;
        .view-bahrain-airport-company {
            margin-top: 45px;
            color: $dark-violet;
        }
        .view-header {
            margin-bottom: 30px;
        }
        .paragraph--type--corporate-with-image {
            text-align: justify;
            display: flex;
            margin-bottom: 70px;
            .field--name-field-corporate-image {
                max-width: 41.666667%;
            }
            .with_img_text {
                max-width: 58.333333%;
                padding-left: 100px;
                margin: auto 0;
                .field--name-field-corp-title {
                    font-weight: 700;
                    color: $black;
                    font-size: 22px;
                    line-height: 1.2;
                }
                .field--name-field-corp-body {
                    ul {
                        display: block;
                        list-style-type: disc;
                        margin-block-start: 1em;
                        margin-block-end: 1em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        padding-inline-start: 40px;
                    }
                }
            }
            .with_img_text:lang(ar) {
                padding-left: 0;
                padding-right: 100px;
            }
            @media (max-width: 1227px) {
                .field--name-field-corporate-image {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }
                .with_img_text {
                    padding-left: 20px;
                }
                .with_img_text:lang(ar) {
                    padding-left: 0;
                    padding-right: 20px;
                }
            }
        
        }
        @media (max-width: 767px) { 
            .paragraph--type--corporate-with-image {
                flex-direction: column;
                margin-bottom: 25px;
                .field--name-field-corporate-image {
                    margin-bottom: 35px;
                    max-width: 100%;
                    img {
                        margin: 0 auto;
                    }
                }
                .with_img_text {
                    max-width: 100%;
                    padding-left: 0;
                    margin-top: 20px;
                    .field--name-field-corp-title {
                        text-align: center;
                    }
                    .field--name-field-corp-body {
                        ul {
                            padding-inline-start: 20px;
                        }
                    }
                }
                .with_img_text:lang(ar) {
                    padding-right: 0;
                }
            }
        }
    }
}