@import 'mixins.scss';
@import 'variables_drupal.scss';

.market-facts {
  @include ultimate-page;
}

.conditions-of-use {
  @include ultimate-page;
}

.why-bahrain-international-airport {
    @include ultimate-page;
}

.ground-handling {
    @include ultimate-page;
    #block-bahrainairportservices {
        @include redblock;
    }
}

.aircraft-fueling {
    @include ultimate-page;
}

.in-flight-catering {
    @include ultimate-page;
}

.contacts-airline-development {
    @include ultimate-page;
    #block-nawalalmajed {
        @include redblock;
    }
}
