@import 'mixins.scss';
@import 'variables_drupal.scss';
.path-at-the-airport {
  .region-content {
    margin-top: 30px;
  }
}
.page-art-galleries {
    #block-bahrain-theme-page-title {
        @include page_title;
    }
    .view-art-galleries {
        .view-header {
            max-width: 790px;
            margin: 0 auto;
            font-size: 18px;
            color: #000;
            text-align: center;
            margin-bottom: 80px;
        }
        .view-content {
            .views-row {
              display: flex;
              margin-bottom: 100px;

              .views-field-field-at-the-airport-image {
                width: 50%;
                padding: 0 20px;

                .field-content {
                  height: 445px;
                  position: relative;

                  img {
                    border-radius: 9px;
                    height: 445px;
                    width: auto;
                  }
                }
              }

              @media(max-width: 1200px) {
                .views-field-field-at-the-airport-image {
                  padding: 0 20px;

                  .field-content {
                    &::before {
                      left: -300px;
                    }

                    &:lang(ar)::before {
                      left: 300px;
                    }
                  }
                }
              }

              .views-field-fieldset {
                width: 50%;
                padding-left: 0;
                padding-right: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .views-field-title {
                  font-size: 22px;
                  font-weight: bold;
                  color: #000;
                  margin-bottom: 5px;
                }

                .views-field-body {
                  font-size: 16px;
                  line-height: 1.56;
                  margin-bottom: 20px;
                }

                .views-field-view-node a {
                  text-decoration: none;
                  padding: 12px 20px 12px 20px;
                  background-color: $red;
                  color: $white;
                  letter-spacing: 1px;
                  text-transform: uppercase;
                  border-radius: 20px;
                }
              }

              .views-field-fieldset:lang(ar) {
                padding-right: 0;
                padding-left: 100px;
              }

              &:nth-child(even) {
                flex-direction: row-reverse;

                .views-field-fieldset {
                  padding-right: 0;
                  padding-left: 100px;
                }
                .views-field-field-at-the-airport-image .field-content:after {
                  background: url('../img/wave-purple.png');
                  width: 100%;
                  content: "";
                  position: absolute;
                  top: -24px;
                  bottom: -24px;
                  left: -420px;
                  z-index: -1;
                  border-radius: 0 9px 9px 0;
                }
                &:lang(ar) {
                  .views-field-field-at-the-airport-image .field-content:after {
                    background: url('../img/wave-purple.png');
                    width: 100%;
                    content: "";
                    position: absolute;
                    top: -24px;
                    bottom: -24px;
                    left: 420px;
                    z-index: -1;
                    border-radius: 0 9px 9px 0;
                    transform: scaleX(-1);
                  }
                }
                &:lang(ar) {
                  .views-field-fieldset {
                    padding-left: 0;
                    padding-right: 100px;
                  }
                }
              }
              &:nth-child(odd) {
                .views-field-field-at-the-airport-image .field-content:after {
                  background: url('../img/wave-red.png');
                  content: "";
                  position: absolute;
                  top: -24px;
                  bottom: -24px;
                  width: 100%;
                  left: 420px;
                  z-index: -1;
                  border-radius: 0 9px 9px 0;
                  transform: scaleX(-1);
                }
                @media (max-width: 992px) {
                  .views-field-field-at-the-airport-image .field-content:after {
                    margin-left: 0;
                    margin-right: 0;
                    width: 1000px;
                    left: -200px;
                    bottom: 40%;
                    top: -35px;
                    background-position: 0 0;
                    background-size: cover;
                    max-height: 284px;
                  }
                }
                &:lang(ar) {
                  .views-field-field-at-the-airport-image .field-content:after {
                    background: url('../img/wave-red.png');
                    content: "";
                    position: absolute;
                    top: -24px;
                    bottom: -24px;
                    width: 100%;
                    left: -420px;
                    z-index: -1;
                    border-radius: 0 9px 9px 0;
                    transform: scaleX(1);
                  }
                  @media (max-width: 992px) {
                    .views-field-field-at-the-airport-image .field-content:after {
                      margin-left: 0;
                      margin-right: 0;
                      width: 1000px;
                      left: -200px;
                      bottom: 40%;
                      top: -35px;
                      background-position: 0 0;
                      background-size: cover;
                      max-height: 284px;
                    }
                  }
                }
              }
            }
            @media (max-width: 992px) {
                .views-row{
                    flex-direction: column-reverse;
                    align-items: center;
                    padding: 0;
                    .views-field-field-at-the-airport-image{
                        max-width: 575px;
                        width: 100%;
                        padding: 0;
                        margin-bottom: 20px;
                        .field-content {
                            display: flex;
                            justify-content: center;
                            height: auto;
                            img{
                                height: 100%;
                                width: auto;
                                object-fit: cover;
                            }
                        }
                    }
                    .views-field-fieldset {
                        width: 100%;
                        padding: 0;
                        max-width: 575px;
                    }
                    .views-field-fieldset:lang(ar) {
                        padding: 0;
                    }
                    &:nth-child(even){
                        flex-direction: column-reverse;
                        align-items: center;
                        padding: 0;
                        .views-field-field-at-the-airport-image{
                            max-width: 575px;
                            width: 100%;
                            margin-bottom: 20px;
                            .field-content {
                                display: flex;
                                justify-content: center;
                                height: auto;
                                position: relative;
                                img{
                                    height: 100%;
                                    width: auto;
                                    object-fit: cover;
                                }
                                &:after {
                                  margin-left: 0;
                                  margin-right: 0;
                                  width: 1000px;
                                  left: -200px;
                                  bottom: 40%;
                                  top: -35px;
                                  background-position: 0 0;
                                  background-size: cover;
                                }
                                &:lang(ar):after {
                                  margin-left: 0;
                                  margin-right: 0;
                                  width: 1000px;
                                  left: -200px;
                                  bottom: 40%;
                                  top: -35px;
                                  background-position: 0 0;
                                  background-size: cover;
                                }
                            }
                        }
                        .views-field-fieldset {
                            width: 100%;
                            padding: 0;
                            max-width: 575px;
                        }
                        &:lang(ar) {
                            .views-field-fieldset {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
.dining-and-restaurants-page {
    #block-bahrain-theme-page-title {
        @include page_title;
    }
    .view-dining-restaurants {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        .view-header {
            @include header;
        }
        .view-filters .form--inline{
            display: flex;
            .js-form-item input,
            .js-form-item select {
                border-radius: 50px;
            }
            .form-actions input {
                border-radius: 50px;
                background-color: $red;
                border: none;
                &:hover {
                    background-color: $black;
                }
            }
        }
        @media(max-width: 600px) {
            .view-filters .form--inline {
                flex-direction: column;
                align-items: center;
                .js-form-item input {
                    width: 252px;
                }
                &:lang(ar) {
                    .js-form-item input,
                    .js-form-item select {
                        width: 252px;
                    }
                }
            }
        }
        .view-content .views-infinite-scroll-content-wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .views-row {
                padding: 0 10px;
                margin-bottom: 50px;
                margin-top: 20px;
                .views-field-fieldset {
                    position: relative;
                    .views-field-term-node-tid {
                        position: relative;
                        cursor: default;
                        pointer-events: none;
                        a {
                            position: absolute;
                            padding: 2px;
                            border-radius: 2px;
                            background-color: $light-grey;
                            color: $white;
                            text-decoration: none;
                            left: 8px;
                            top: 13px;
                            font-size: 11px;
                            &:lang(ar) {
                                left: auto;
                                right: 8px;
                            }
                        }
                    }
                    .views-field-field-at-the-airport-image img{
                        border-radius: 9px;
                    }
                }
                .views-field-title {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    .field-content {
                        display: flex;
                        justify-content: center;
                        a {
                            display: flex;
                            width: 90%;
                            padding: 10px 15px;
                            background-color: $white;
                            color: $black;
                            text-decoration: none;
                            position: absolute;
                            border-radius: 5px;
                            top: -20px;
                            box-shadow: 0 2px 24px 0 rgb(59 59 59 / 16%);
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        @media(max-width: 800px) {
            .view-content .views-infinite-scroll-content-wrapper {
                grid-template-columns: 1fr 1fr;
            }
        }
        @media(max-width: 600px) {
            .view-content .views-infinite-scroll-content-wrapper {
                grid-template-columns: 1fr;
            }
        }
        .js-pager__items {
            margin: 0 auto;
            a {
                background-color: $red;
                color: $white;
                border-radius: 20px;
                padding: 9px 20px 9px 20px;
                &:hover {
                    background-color: $black;
                }
            }
        }
    }
}
.shopping-page {
    #block-bahrain-theme-page-title {
        @include page_title;
    }
    .view-shopping {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        .view-header {
            @include header;
        }
        .view-filters .form--inline{
            display: flex;
            .js-form-item input,
            .js-form-item select {
                border-radius: 50px;
            }
            .form-actions input {
                border-radius: 50px;
                background-color: $red;
                border: none;
                &:hover {
                    background-color: $black;
                }
            }
        }
        @media(max-width: 600px) {
            .view-filters .form--inline {
                flex-direction: column;
                align-items: center;
                .js-form-item input {
                    width: 252px;
                }
                &:lang(ar) {
                    .js-form-item input,
                    .js-form-item select {
                        width: 252px;
                    }
                }
            }
        }
        .view-content .views-infinite-scroll-content-wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .views-row {
                padding: 0 10px;
                margin-bottom: 50px;
                margin-top: 20px;
                .views-field-fieldset {
                    position: relative;
                    .views-field-term-node-tid {
                        position: relative;
                        cursor: default;
                        pointer-events: none;
                        a {
                            position: absolute;
                            padding: 2px;
                            border-radius: 2px;
                            background-color: $light-grey;
                            color: $white;
                            text-decoration: none;
                            left: 8px;
                            top: 13px;
                            font-size: 11px;
                            &:lang(ar) {
                                left: auto;
                                right: 8px;
                            }
                        }
                    }
                    .views-field-field-at-the-airport-image img{
                        border-radius: 9px;
                    }
                }
                .views-field-title {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    .field-content {
                        display: flex;
                        justify-content: center;
                        a {
                            display: flex;
                            width: 90%;
                            padding: 10px 15px;
                            background-color: $white;
                            color: $black;
                            text-decoration: none;
                            position: absolute;
                            border-radius: 5px;
                            top: -20px;
                            box-shadow: 0 2px 24px 0 rgb(59 59 59 / 16%);
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        @media(max-width: 800px) {
            .view-content .views-infinite-scroll-content-wrapper {
                grid-template-columns: 1fr 1fr;
            }
        }
        @media(max-width: 600px) {
            .view-content .views-infinite-scroll-content-wrapper {
                grid-template-columns: 1fr;
            }
        }
        .js-pager__items {
            margin: 0 auto;
            a {
                background-color: $red;
                color: $white;
                border-radius: 20px;
                padding: 9px 20px 9px 20px;
                &:hover {
                    background-color: $black;
                }
            }
        }
    }
}
.services-page {
    #block-bahrain-theme-page-title {
        @include page_title;
        margin-bottom: 50px;
    }
    .view-services .view-content {
        .views-row {
            margin-bottom: 100px;
            display: flex;
            flex-direction: row;
            .views-field-field-at-the-airport-image {
                width: 50%;
                img {
                    border-radius: 9px;
                }
            }
            .views-field-fieldset-2 {
                width: 50%;
                padding-left: 100px;
                display: flex;
                align-items: center;
                &:lang(ar) {
                    padding-left: 0;
                    padding-right: 100px;
                }
                .views-field-field-company-image img {
                    height: 40px;
                    width: 40px;
                    margin-bottom: 20px;
                }
                .views-field-title {
                    font-size: 22px;
                    font-weight: bold;
                    color: #000;
                    margin-bottom: 5px;
                }
                .views-field-body a {
                    color: $red;
                    text-decoration: none;
                    &:hover {
                        color: $black;
                    }
                }
            }
            &:nth-child(even) {
                flex-direction: row-reverse;
                .views-field-fieldset-2 {
                    width: 50%;
                    padding-left: 0;
                    padding-right: 100px;
                    &:lang(ar) {
                        padding-left: 100px;
                        padding-right: 0;
                    }
                }
            }
        }
        @media (max-width: 992px) {
            .views-row{
                flex-direction: column;
                .views-field-field-at-the-airport-image{
                    width: 100%;
                    padding: 0 15px;
                    margin-bottom: 20px;
                    .field-content {
                        display: flex;
                        justify-content: center;
                        height: auto;
                        img{
                            height: 100%;
                            width: auto;
                            object-fit: cover;
                        }
                    }
                }
                .views-field-fieldset-2 {
                    width: 100%;
                    padding: 0 15px;
                    &:lang(ar) {
                        padding: 0 15px;
                    }
                }
                &:nth-child(even){
                    flex-direction: column;
                    .views-field-field-at-the-airport-image{
                        width: 100%;
                        padding: 0 15px;
                        margin-bottom: 20px;
                        .field-content {
                            display: flex;
                            justify-content: center;
                            height: auto;
                            img{
                                height: 100%;
                                width: auto;
                                object-fit: cover;
                            }
                        }
                    }
                    .views-field-fieldset-2 {
                        width: 100%;
                        padding: 0 15px;
                        &:lang(ar) {
                            padding: 0 15px;
                        }
                    }
                }
            }
        }
    }
}
.lounges-and-hotel-page {
    #block-bahrain-theme-page-title {
        @include page_title;
        margin-bottom: 70px;
    }
    .view-lounges-hotel {
        .views-row {
          margin-bottom: 100px;
          display: flex;
          flex-direction: row;

          .views-field-field-at-the-airport-image {
            width: 50%;

            img {
              border-radius: 9px;
            }
          }

          .views-field-fieldset {
            width: 50%;
            padding-left: 100px;
            display: flex;
            align-items: center;

            &:lang(ar) {
              padding-left: 0;
              padding-right: 100px;
            }

            .views-field-view-node a {
              text-decoration: none;
              padding: 12px 20px 12px 20px;
              background-color: $red;
              color: $white;
              letter-spacing: 1px;
              text-transform: uppercase;
              border-radius: 20px;
            }

            .views-field-title {
              font-size: 22px;
              font-weight: bold;
              color: #000;
              margin-bottom: 5px;
            }

            .views-field-body {
              margin-bottom: 40px;

              a {
                color: $red;
                text-decoration: none;

                &:hover {
                  color: $black;
                }
              }
            }
          }

          &:nth-child(even) {
            flex-direction: row-reverse;

            .views-field-fieldset {
              width: 50%;
              padding-left: 0;
              padding-right: 100px;

              &:lang(ar) {
                padding-left: 100px;
                padding-right: 0;
              }
            }
          }
        }
        @media (max-width: 992px) {
            .views-row{
                flex-direction: column;
                .views-field-field-at-the-airport-image{
                    width: 100%;
                    padding: 0 15px;
                    margin-bottom: 20px;
                    .field-content {
                        display: flex;
                        justify-content: center;
                        height: auto;
                        img{
                            height: 100%;
                            width: auto;
                            object-fit: cover;
                        }
                    }
                }
                .views-field-fieldset {
                    width: 100%;
                    padding: 0 15px;
                    &:lang(ar) {
                        padding: 0 15px;
                    }
                }
                &:nth-child(even){
                    flex-direction: column;
                    .views-field-field-at-the-airport-image{
                        width: 100%;
                        padding: 0 15px;
                        margin-bottom: 20px;
                        .field-content {
                            display: flex;
                            justify-content: center;
                            height: auto;
                            img{
                                height: 100%;
                                width: auto;
                                object-fit: cover;
                            }
                        }
                    }
                    .views-field-fieldset {
                        width: 100%;
                        padding: 0 15px;
                        &:lang(ar) {
                            padding: 0 15px;
                        }
                    }
                }
            }
        }
    }
}
.page-node-type-at-the-airport {
    #block-bahrain-theme-page-title {
        @include page_title;
        margin-top: 20px;
    }
    .node__content {
        display: flex;
        margin-bottom: 30px;
        .company_info_left {
            width: 75%;
            padding-right: 100px;
            &:lang(ar) {
                padding-right: 0;
                padding-left: 100px;
            }
            img {
                border-radius: 9px;
            }
            .field--name-field-back-link {
                margin-top: 30px;
                a {
                    color: #1d242b;
                    transition: all 0.3s;
                    text-transform: uppercase;
                    padding: 9px 20px;
                    border-radius: 20px;
                    border: 1px solid #1d242b;
                    text-decoration: none;
                    &:hover {
                        background-color: #1d242b;
                        color: $white;
                    }
                }
            }
        }
        .company_info_right {
            width: 25%;
            padding: 0 15px;
            .field--name-field-company-site {
                margin: 10px 0;
                a {
                    color: $black;
                    img {
                        margin-right: 10px;
                        &:lang(ar) {
                            margin-left: 10px;
                            margin-right: 0;
                        }
                    }
                    &:hover {
                        color: $red;
                    }
                }
            }
            .field--name-field-location a {
                cursor: default;
                pointer-events: none;
                color: $black;
                text-decoration: none;
                font-weight: 700;
            }
        }
    }
    @media (max-width: 1050px) {
        .node__content {
            flex-direction: column;
            .company_info_left {
                width: 100%;
                padding-right: 0;
                margin-bottom: 30px;
                &:lang(ar) {
                    padding-left: 0;
                }
                .field--name-field-at-the-airport-image {
                    display: flex;
                    justify-content: center;
                }
            }
            .company_info_right {
                display: flex;
                width: 100%;
                padding: 0;
                .field--name-field-company-image{
                    width: 110px;
                }
                .site-and-location {
                    margin-left: 40px;
                    &:lang(ar) {
                        margin-left: 0;
                        margin-right: 40px;
                    }
                }
            }
        }
    }
    @media (max-width: 400px) {
        .node__content {
            .company_info_right {
                .field--name-field-company-image{
                    width: 90px;
                }
                .site-and-location {
                    margin-left: 20px;
                    &:lang(ar) {
                        margin-right: 20px;
                    }
                    .field--name-field-company-site a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
