@import 'mixins.scss';
@import 'variables_drupal.scss';

.page-baggage-services {
  #block-bahrain-theme-page-title {
    @include page_title;
    margin-top: 20px;
  }
    .region-content {
        .block-system-main-block {
            line-height: 24px;
            text-align: justify;
            h2 {
            font-weight: 700;
            font-size: 22px;
            }
            strong {
            color: $dark-violet;
            }
        }
    }
}

.page-regulations {
  #block-bahrain-theme-page-title {
    @include page_title;
    margin-top: 20px;
  }
    .region-content {
        .block-system-main-block {
            line-height: 24px;
            text-align: justify;
        }
    }
}

.page-reclaim {
  #block-bahrain-theme-page-title {
    @include page_title;
    margin-top: 20px;
  }
    .region-content {
        .block-system-main-block {
            line-height: 24px;
            text-align: justify;
        }
    }
}

.page-lost-found {
  #block-bahrain-theme-page-title {
    @include page_title;
    margin-top: 20px;
  }
    .region-content {
        .block-system-main-block {
            line-height: 24px;
            text-align: justify;
            a {
                color: $red;
                text-decoration: none;
                &:hover {
                    color: $black;
                }
            }
        }
    }
}
