@import 'variables_drupal';
@import 'mixins';
  body header .banner-region .region-banner {
    max-width: 1920px;
    padding: 0;
    #block-mainpagebanner {
      .field--name-field-background {
        visibility: hidden;
        height: 500px;
        width: auto;
      }
      @media (max-width: 768px) {
        .field--name-field-background {
          height: 400px;
        }
      }
      @media (max-width: 500px) {
        .field--name-field-background {
          height: 300px;
        }
      }
    }
    #block-corporatemainbanner {
      .field--name-field-background {
        visibility: hidden;
        height: 600px;
        width: auto;
      }
      @media (max-width: 768px) {
        .field--name-field-background {
          height: 450px;
        }
      }
      @media (max-width: 500px) {
        .field--name-field-background {
          height: 350px;
        }
      }
      .field--name-field-banner-view-more- {
        top: 65%;
      }
    }
    .block {
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      position: relative;
      background-position: center;
      &::after {
        content: '';
        background-color: rgba(29, 36, 43, 0.6);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
      }
      .field--name-body {
        font-size: 35px;
        line-height: 1.2;
        font-weight: bold;
        font-family: $english;
        position: absolute;
        color: $white;
        z-index: 1;
        text-align: center;
        p {
          padding: 0 15px;
        }
        &:lang(ar) {
          font-family: $arabic;
        }
      }
      .field--name-field-banner-view-more- {
        text-align: center;
        width: 140px;
        position: absolute;
        z-index: 1;
        a {
          font-size: 16px;
          font-family: $english;
          font-weight: 700;
          color: $white;
          text-transform: uppercase;
          text-decoration: none;
          display: block;
          position: relative;
          text-align: left;
          padding-left: 15px;
          &:after {
            content: url("../img/right-arrow.png");
            width: 15px;
            height: 14px;
            right: 15px;
            top: 1px;
            position: absolute;
          }
          &:lang(ar) {
            text-align: right;
            &:after {
              content: url("../img/right-arrow.png");
              width: 15px;
              height: 14px;
              left: 15px;
              right: auto;
              top: 11px;
              position: absolute;
              transform: scale(-1);
            }
            &:hover {
              &:after {
                animation: arabic-arrow 1s;
              }
            }
            @media (max-width: 768px) {
              &:after {
                top: 8px;
              }
            }
          }
          &:hover {
            &:after {
              animation: arrow 1s;
            }
          }
        }
        &:lang(ar) {
          padding-left: 0;
          padding-right: 15px;
        }
      }
      @media (max-width: 768px) {
        .field--name-field-banner-view-more- {
          width: 130px;
          a {
            font-size: 14px;
            &:after {
              top: 3px;
            }
          }
        }
      }
      .field--name-field-background {
        visibility: hidden;
        height: 358px;
        width: auto;
      }
    }
  }
