@import 'mixins.scss';
@import 'variables_drupal.scss';

.property-and-real-estate {
    @include ultimate-page;
    #block-commercialdivision {
        @include redblock;
    }
}

.concessions {
    @include ultimate-page;
    #block-commercialdivision {
        @include redblock;
    }
}

.advertising {
    @include ultimate-page;
    #block-wissamzaatar {
        @include redblock;
    }
}

.suppliers {
    @include ultimate-page;
    #block-procurementdivision {
        @include redblock;
    }
}

