@import 'mixins.scss';
@import 'variables_drupal.scss';

.cargo-facilities {
    @include ultimate-page;
    .field--name-field-corp-redblock-body {
        @include ul-mixin;
    }
}

.mros {
  @include ultimate-page;
}
.mros .dialog-off-canvas-main-canvas.d-flex.flex-column.h-100 {
  background: white;
  transform-origin: top right;
  animation: tymicha 8s ease-in-out 0.5s infinite;
  animation-play-state: paused;
}

.mros .active.dialog-off-canvas-main-canvas.d-flex.flex-column.h-100 {
  background: white;
  transform-origin: top right;
  animation: tymicha 8s ease-in-out 0.5s infinite;
  animation-play-state: running;
}

body.mros.d-flex.flex-column.h-100:before {
  content: '';
  position: absolute;
  background-image: url(../img/thanks.png);
  font-size: 250px;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}
@keyframes tymicha {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.contacts-cargo-and-logistics {
    @include ultimate-page;
    #block-shashikumarpanicker {
        @include redblock;
    }
}
