@import 'variables_drupal';
@import 'mixins';

.path-car-rentals{
    #block-bahrain-theme-page-title {
      @include page_title;
      margin-top: 20px;
    }
    #block-bahrain-theme-content{
        .view-header {
            @include header;
        }
        @media (max-width: 768px) {
            .view-header{
                margin-bottom: 40px;
            }
        }
        .view-content{
           .paragraph{
               display: flex;
               margin: 30px 0;
               padding: 0 15px;
               .field--name-field-flexible-img{
                    max-width: 200px;
                    width: 100%;
                    height: 80px;
                    border: 1px solid $dark-grey;
                    border-radius: 9px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        height: 78px;
                        width: auto;
                    }
               }
               .rentals-body{
                   margin-left: 15px;
                   .field--name-field-flexible-title .field__item{
                    font-size: 22px;
                    line-height: 1.2;
                    color: #000000;
                    font-weight: bold;
                    margin-bottom: 10px;
                   }
                   p{
                       margin-bottom: 0;
                       a{
                           color: $red;
                           text-decoration: none;
                           &:hover{
                               color: $black;
                           }
                       }
                   }
               }
               .rentals-body:lang(ar) {
                margin-left: 0;
                margin-right: 15px;
               }
           }
           @media (max-width: 768px) {
               .paragraph {
                   flex-direction: column;
                   padding: 0;
                   margin-top: 15px;
                   .rentals-body{
                        margin-left: 0;
                        margin-top: 5px;
                   }
               }
           }
        }
    }
}
