@import 'mixins.scss';
@import 'variables_drupal.scss';

.page-contact-us {
    .region-content {
        display: flex;
        margin-top: 47px;
      .alert-status,
      .alert-error,
      .alert-danger {
        display: none;
      }
        #block-webform--2,
        #block-webform {
            margin-right: 20px;
            width: 870px;
          &:lang(ar) {
            margin-right: 0;
            margin-left: 20px;
          }
            h2 {
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 40px;
            }
          .iti--allow-dropdown {
            width: 100%;
          }
            #edit-send--2,
            #edit-send {
              .webform-flex--1 {
                    display: flex;
                    .webform-flex--container {
                        display: flex;
                        margin-left: auto;
                        #edit-actions--3,
                        #edit-actions--2 {
                            margin: auto 0;
                            display: flex;
                            flex-direction: row;
                            position: relative;
                            #edit-actions-submit--2,
                            #edit-actions-submit {
                                background-color: $red;
                                color: $white;
                                border: 0;
                                border-radius: 20px;
                                padding: 12px 44px 12px 20px;
                                display: inline-block;
                                &:hover {
                                    background-color: $dark-blue;
                                }
                            }
                            &::after {
                                content: '';
                                position: absolute;
                                background: url("../img/right-arrow.png") no-repeat;
                                display: block;
                                width: 15px;
                                height: 14px;
                                left: 83px;
                                top: 18px;
                                cursor: pointer;
                                &:hover {
                                    animation: arrow 1s;
                                }
                            }
                        }

                    }
                }
            }
        }
        #block-corporatecontactus {
            padding: 0 15px;
            max-width: 300px;
            width: 100%;
            .field--name-field-huge-title {
                font-size: 20px;
                font-weight: 700;
            }
            .field--name-field-info-name {
              display: block;
              font-size: 12px;
              font-weight: 400;
              line-height: 1.29;
              text-transform: uppercase;
              color: $light-grey;
            }
            .field--name-field-info-itself {
              font-size: 16px;
              font-weight: 700;
              a {
                text-decoration: none;
                color: $red;
              }
            }
            .paragraph--type--contact-block {
                display: flex;
                padding: 30px 0;
                border-top: 2px solid $dark-grey;
                .text_only {
                  padding-left: 15px;
                }
                &:lang(ar) {
                  .text_only {
                    padding-left: 0;
                    padding-right: 15px;
                  }
                }
              .field--name-field-contact-image {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
              }
            }
            .field--name-field-contact-region {
                border-bottom: 2px solid $dark-grey;
                 margin: 20px 0;
                .field__item:first-child img{
                  height: 31px;
                  width: 31px;
                }
                .field__item:nth-child(2) img{
                  height: 30px;
                  width: 39px;
                }
                .field__item:nth-child(3) img {
                  height: 34px;
                  width: 27px;
                }
                .field__item:nth-child(4) img {
                  height: 26px;
                  width: 31px;
                }
            }
            .field--name-field-contact-link {
                text-align: center;
                a {
                  padding: 9px 20px 9px 20px;
                  border-radius: 20px;
                  border: 1px solid $black;
                  font-size: 14px;
                  color: $black;
                  text-decoration: none;
                  text-transform: uppercase;
                  transition: all 0.3s;
                  &:hover {
                    background-color: $black;
                    color: $white;
                  }
                }
            }
        }
    }
  @media (max-width: 999px) {
    .region-content {
      flex-direction: column;
      #block-webform--2 {
        width: 100%;
        margin: 40px 0;
      }
      #edit-send--2 {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      #block-corporatecontactus {
        margin: 30px 0;
        max-width: none;
        width: 100%;
      }
    }
  }
}
