@import 'mixins.scss';
@import 'variables_drupal.scss';
.corporate-page {
    #block-views-block-bahrain-international-airport-block-1 {
        margin-top: 40px;
        h2 {
            text-align: center;
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 25px;
            @media (max-width:500px) {
                font-size: 30px;
            }
        }
        .paragraph {
            .field--name-field-corporate-image {
                display: none;
            }
            .with_img_text {
                margin: 0 auto;
                font-size: 18px;
                line-height: 1.56;
                color: #3b3b3b;
                max-width: 760px;
                .field__item {
                    text-align: center;
                    p {
                        text-align: center;
                    }
                }
            }
        }
        .views-field-view-node {
            text-align: center;
            margin: 30px 0;
            .field-content a {
                padding: 12px 20px 12px 20px;
                text-decoration: none;
                color: $black;
                border-radius: 20px;
                font-size: 14px;
                letter-spacing: 1px;
                transition: all 0.3s;
                text-transform: uppercase;
                border: 1px solid $black;
                &:hover {
                    color: $white;
                    background-color: $black;
                }
            }
        }
    }
    .block-wrapper-news {
        background-color: $dark-grey;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        padding: 30px 0;
        display: flex;
        justify-content: center;
        width: 100vw;
        left: calc(-50vw + 50%);
        position: relative;
        &:lang(ar){
            right: calc(-50vw + 50%);
        }
        #block-views-block-news-block-1 {
            margin-top: 40px;
            max-width: 1200px;
            width: 100%;
            h2 {
                text-align: center;
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 25px;
                @media (max-width:500px) {
                    font-size: 30px;
                }
            }
            .view-news {
                .view-header {
                    text-align: center;
                    padding: 0 15px;
                }
                .view-content {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    .views-row {
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .views-field-field-news-image {
                            height: 260px;
                            width: auto;
                            img {
                                height: 260px;
                                width: auto;
                                object-fit: cover;
                                border-radius: 9px;
                            }
                        }
                        .views-field-fieldset {
                            max-width: 330px;
                            background-color: $white;
                            border-radius: 9px;
                            margin: -30px auto 0;
                            display: inline-block;
                            padding: 20px;
                            .views-field-field-date-of-news {
                                text-transform: uppercase;
                                font-size: 12px;
                                padding: 0 10px;
                                background-color: $white;
                                letter-spacing: 1.2px;
                            }
                            .views-field-title {
                                padding: 0 10px;
                                background-color: $white;
                                a {
                                    color: $black;
                                    text-decoration: none;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
                .view-footer {
                    text-align: center;
                    margin-top: 20px;
                    a {
                        transition: all 0.3s;
                        padding: 12px 20px;
                        border: 1px solid $black;
                        border-radius: 20px;
                        color: $black;
                        text-decoration: none;
                        text-transform: uppercase;
                        &:hover {
                            background-color: $black;
                            color: $white;
                        }
                    }
                }
                @media (max-width: 768px) {
                    .view-content {
                        grid-template-columns: 1fr;
                        .views-row {
                            .views-field-field-news-image {
                                height: 260px;
                                max-width: 360px;
                                width: 100%;
                                img {
                                    height: 260px;
                                    object-fit: cover;
                                    max-width: 360px;
                                    width: 100%;
                                    border-radius: 9px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #block-views-block-corporate-social-responsibility-view-block-1 {
        padding: 30px 0;
        h2 {
            text-align: center;
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 25px;
            @media (max-width:768px) {
                font-size: 30px;
            }
        }
        .views-field-field-content-paragraph .field-content {
            display: flex;
            justify-content: space-between;
            .paragraph {
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 33%;
                .field--name-field-corporate-image {
                    height: 260px;
                    max-width: auto;
                    width: 100%;
                    img {
                        height: 260px;
                        max-width: 360px;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 9px;
                    }
                }
                .field--name-field-corp-body {
                    display: none;
                }
                .field--name-field-corp-title {
                    padding: 20px;
                    box-shadow: 0 2px 24px 0 rgb(59 59 59 / 16%);
                    background-color: $white;
                    border-radius: 9px;
                    margin-top: -20px;
                    text-align: center;
                    p {
                        margin-bottom: 0;
                        font-size: 16px;
                        font-weight: 700;
                    }
                }
                @media (max-width:950px) {
                    .field--name-field-corp-title {
                        padding: 15px;
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
            .paragraph:nth-child(3) {
                display: none;
            }
        }
        @media (max-width: 768px) {
            .views-field-field-content-paragraph .field-content {
                flex-direction: column;
                align-items: center;
                .paragraph {
                    max-width: 400px;
                    width: 100%;
                }
            }
        }
        .view-footer {
            text-align: center;
            margin-top: 20px;
            a {
                transition: all 0.3s;
                padding: 12px 20px;
                border: 1px solid $black;
                border-radius: 20px;
                color: $black;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    background-color: $black;
                    color: $white;
                }
            }
        }
    }
    #block-views-block-contact-us-block-1-2 {
        margin-bottom: 65px;
        padding: 0 15px;
        h2 {
            font-size: 35px;
            line-height: 42px;
            font-weight: 700;
            padding: 50px 0 30px;
        }
        .view-header {
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 40px;
        }
        .view-content {
            .field-content {
                display: flex;
                .paragraph--type--contact-block {
                    display: flex;
                    &:not(:nth-child(1)) {
                        border-left: 1px solid rgba(59, 59, 59, 0.2);
                        padding-left: 30px;
                    }
                    &:lang(ar) {
                        padding-left: 0;
                        padding-right: 30px;
                        &:nth-child(1) {
                            border-left: 1px solid rgba(59, 59, 59, 0.2);
                            padding-left: 0;
                            padding-right: 30px;
                        }
                        &:nth-child(2) {
                            border-left: 1px solid rgba(59, 59, 59, 0.2);
                            padding-left: 0;
                            padding-right: 30px;
                        }
                        &:nth-child(3) {
                            border-left: 1px solid rgba(59, 59, 59, 0.2);
                            padding-left: 0;
                            padding-right: 30px;
                        }
                        &:nth-child(4) {
                            border-left: none;
                            padding-left: 0;
                        }
                    }
                    .field--name-field-contact-image {
                        display: flex;
                        img {
                            margin: auto 0;
                            width: 31px;
                            max-height: 31px;
                        }
                    }
                    .text_only {
                        padding: 0 60px 0 30px;
                        &:lang(ar)
                        {
                            padding: 0 30px 0 60px;
                        }
                        .field--name-field-info-name {
                            color: $dark-violet;
                            font-size: 12px;
                            font-weight: 700
                        }
                        .field--name-field-info-itself {
                            a {
                                @include red-hover;
                                font-size: 18px;
                                font-weight: 700;
                                text-decoration: none;
                                &:hover {
                                    color: $dark-violet
                                }
                            }
                        }
                        @media (max-width:1177px) {
                            .field--name-field-info-name {
                                font-size: 10px;
                            }
                            .field--name-field-info-itself {
                                a {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    @media (max-width: 1070px) {
                        .text_only {
                            padding: 0 20px
                        }
                        .text_only:lang(ar){
                            padding: 0 20px
                        }
                    }
                }
            }
        }
        @media (max-width: 875px) {
            h2 {
                font-size: 32px;
                padding: 40px 0 20px;
            }
            .view-header {
                font-size: 16px;
                margin-bottom: 10px;
            }
            .view-content {
                .field-content {
                    flex-direction: column;
                    .paragraph--type--contact-block {
                        padding: 15px 0;
                        &:not(:nth-child(1)) {
                            border-left: none;
                            border-top: 1px solid rgba(59, 59, 59, 0.2);;
                            padding-left: 0;
                        }
                        &:lang(ar) {
                            &:nth-child(1) {
                                border-left: none;
                                padding-right: 0;
                            }
                            &:nth-child(2) {
                                border-left: none;
                                padding-right: 0;
                            }
                            &:nth-child(3) {
                                border-left: none;
                                padding-right: 0;
                            }
                            &:nth-child(4) {
                                padding-right: 0;
                            }
                        }
                        .text_only {
                            .field--name-field-info-name {
                                font-size: 13px;
                            }
                            .field--name-field-info-itself {
                                a {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
