@import 'mixins.scss';
@import 'variables_drupal.scss';

.faq-page {
  @include ultimate-page;
  .region-content {
    padding: 45px 15px 60px;
  }

  .field--name-field-faq-title {
    font-size: 22px;
    line-height: 1.2;
    color: $black;
    margin: 50px 0 10px;
    font-weight: bold;
    &:lang(en) {
      font-family: $english;
    }
    &:lang(ar) {
      font-family: $arabic;
    }
  }
  .ui-accordion-header {
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    color: $black;
    border: none;
    border-top: 1px solid rgba(151,151,151,.38);
    background-color: $white;
    position: relative;
    cursor: pointer;
    padding: 25px 25px 25px 0;
    font-family: $english;
  }
  .ui-accordion-header:lang(ar) {
    padding: 25px 0 25px 25px;
    font-family: $arabic;
  }
  .faqfield-answer {
    font-size: 20px;
    padding: 5px 0 15px;
    border: none;
    &:lang(en) {
      font-family: $english;
    }
    &:lang(ar) {
      font-family: $arabic;
    }
  }

  .ui-state-hover {
    background-color: $white;
  }
  .ui-state-active {
    color: $black;
  }
  .ui-icon-triangle-1-e{
    background-image: url(../img/faq-plus-img.png);
    background-position: center;
    position: absolute;
    right: 0;
    margin-top: 0;
    display: inline-block;
    width: 17px;
    height: 17px;
    text-align: center;
  }
  .ui-icon-triangle-1-e:lang(ar) {
    right: unset;
    left: 0;
  }
  .ui-icon-triangle-1-s {
    background-image: url(../img/faq-minus-img.png);
    background-position: center;
    position: absolute;
    margin-top: 0;
    right: 0;
    display: inline-block;
    width: 17px;
    height: 17px;
    text-align: center;
  }
  .ui-icon-triangle-1-s:lang(ar) {
    right: unset;
    left: 0;
  }

}
