@import 'mixins.scss';
@import 'variables_drupal.scss';
.path-airlines {
  @include page_title;
  .region-content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    .view-filters .form--inline {
      display: flex;
      justify-content: center;
      .js-form-item input,
      .js-form-item select {
        border-radius: 50px;
      }
      .form-actions input {
        border-radius: 50px;
        background-color: $red;
        border: none;
        &:hover {
          background-color: $black;
        }
      }
    }
    .view-content .views-infinite-scroll-content-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .views-row {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .views-field-field-to-from-the-airport-image {
          width: auto;
          margin-bottom: 10px;
          img {
            height: 150px;
            width: auto;
            object-fit: contain;
            border-radius: 9px;
          }
        }
        .views-field-title {
          padding: 0 10px;
          background-color: $white;
          a {
            color: $black;
            text-decoration: none;
            font-weight: 700;
            transition: all 0.3s;
            &:hover {
              color: $red;
            }
          }
        }
      }
      @media (max-width: 900px) {
        & {
          grid-template-columns: 1fr 1fr;
        }
      }
      @media (max-width: 768px) {
        & {
          grid-template-columns: 1fr;
          .views-row {
            .views-field-field-to-from-the-airport-image {
              max-width: 400px;
              width: 100%;
              img {
                height: 150px;
                object-fit: cover;
                max-width: 360px;
                width: 100%;
                border-radius: 9px;
              }
            }
          }
        }
      }
    }
    .js-pager__items {
      text-align: center;
      margin-top: 20px;
      display: block;
      a {
        transition: all 0.3s;
        padding: 12px 20px;
        border: 1px solid $black;
        border-radius: 20px;
        color: $black;
        text-decoration: none;
        text-transform: uppercase;
        min-width: 152px;
        font-size: 13px;
        &:hover {
          background-color: $black;
          color: $white;
        }
      }
    }
  }
}
.page-node-type-to-from-the-airport {
  .field--name-field-back-link {
    margin: 20px 0;
    a {
      display: inline-block;
      padding: 9px 20px 9px 20px;
      line-height: 16px;
      border-radius: 20px;
      letter-spacing: 1px;
      color: #1d242b;
      background-color: transparent;
      border: 1px solid #1d242b;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      transition: all 0.3s;
      text-transform: uppercase;
      position: relative;
      text-decoration: none;
      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }
}
