@import 'mixins.scss';
@import 'variables_drupal.scss';

.path-flight-arrivals,
.path-flight-departures {
  @include ultimate-page;
  main {
    .region {
      padding: 40px 0 0;
      max-width: 1920px;
      .view-footer {
        background-color: #ece7e9;
        text-align: center;
        min-height: 70px;
        a {
          padding: 22px 23px 22px 23px;
          border-radius: 30px;
          background-color: $red;
          text-transform: uppercase;
          transition: 0.3s;
          font-size: 14px;
          color: $white;
          font-weight: 600;
          text-decoration: none;
          &:hover {
            background-color: $black;
            color: $white;
          }
        }
      }
    }
    .region-content {
      padding: 40px 0 0;
    }
  }
  .view-content {
    background-size: cover;
    background: #ece7e9 url('../img/world-dotted-map.png') no-repeat center center;
    height: 100%;
    min-height: 610px;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .views-row {
      display: flex;
      max-width: 1170px;
      width: 100%;
      padding: 5px 15px;
      min-height: 55px;
      margin-bottom: 10px;
      background-color: $white;
      border-radius: 10px;

      .views-field-fieldset,
      .views-field-fieldset-1 {
        width: 50%;
        font-weight: 700;
      }

      .views-field {
        fieldset {
          display: flex;
          height: 55px;
          align-items: center;

          .views-field-time {
            max-width: 105px;
            width: 100%;
          }

          .views-field-number {
            max-width: 210px;
            width: 100%;
          }

          .views-field-origin {
            max-width: 245px;
            width: 100%;
          }

          .views-field-nothing {
            max-width: 262px;
            width: 100%;

            img {
              max-height: 50px;
            }
          }

          .views-field-status-plane {
            max-width: 165px;
            width: 100%;
          }

          .views-field-nothing-1 {
            max-width: 80px;
            width: 100%;

            .field-content {
              display: flex;
              align-items: center;

              a {
                font-size: 0;
                height: 20px;

                &:before {
                  display: inline-block;
                  content: url('../img/bell-solid-red.svg');
                  width: 20px;
                  height: 20px;
                }

                &:hover {
                  &:before {
                    content: url('../img/hover-bell.svg');
                  }
                }
              }

              .ajax-progress {
                display: none;
              }
            }
          }
        }
      }
    }
    @media (max-width: 767px) {
      .views-row {
        flex-direction: column;
        .views-field-fieldset,
        .views-field-fieldset-1 {
          width: 100%;
        }
        .views-field fieldset {
          .views-field {
            max-width: 235px;
            width: 100%;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}
.main-page {
  .region-flights {
    padding: 0;
    max-width: 1920px;
    #block-quicktabsflights {
      margin-top: 40px;

      h2 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 25px;
        text-align: center;
      }

      .item-list {
        display: flex;
        justify-content: center;

        .quicktabs-tabs {
          margin: 0;

          li {
            margin: 0 30px;

            a {
              font-size: 16px;
              color: $black;
              text-transform: uppercase;
              font-weight: 700;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }

            &.active a {
              position: relative;

              &:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-left: 12px solid transparent;
                border-top: 21px solid #fff;
                border-right: 12px solid transparent;
                position: absolute;
                border-bottom: none;
                z-index: 100;
                right: 50%;
              }
            }
          }

          .departures a {
            position: relative;

            &:before {
              display: inline-block;
              content: url('../img/plane-departure-solid.svg');
              width: 20px;
              height: 16px;
              position: absolute;
              left: -25px;
            }
          }

          .arrivals a {
            position: relative;
            margin-left: 55px;

            &:before {
              display: inline-block;
              content: url('../img/plane-arrival-solid.svg');
              width: 20px;
              height: 16px;
              position: absolute;
              left: -25px;
            }
          }
          &:lang(ar) {
            .arrivals a {
              margin-right: 30px;
            }
            .departures a {
              margin-left: 55px;
            }
          }
          @media (max-width: 450px) {
            li {
              margin: 0 20px;

              a {
                font-size: 14px;
              }
            }
            .arrivals a {
              margin-left: 45px;
            }
          }
        }
      }
    }

    .quicktabs-tabpage {
      .view-content {
        background-size: cover;
        background: #ece7e9 url('../img/world-dotted-map.png') no-repeat center center;
        height: 100%;
        min-height: 610px;
        padding: 50px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .views-row {
          display: flex;
          max-width: 1170px;
          width: 100%;
          padding: 5px 15px;
          min-height: 55px;
          margin-bottom: 10px;
          background-color: $white;
          border-radius: 10px;

          .views-field-fieldset,
          .views-field-fieldset-1 {
            width: 50%;
            font-weight: 700;
          }

          .views-field {
            fieldset {
              display: flex;
              height: 55px;
              align-items: center;

              .views-field-time {
                max-width: 105px;
                width: 100%;
              }

              .views-field-number {
                max-width: 210px;
                width: 100%;
              }

              .views-field-origin {
                max-width: 245px;
                width: 100%;
              }

              .views-field-nothing {
                max-width: 262px;
                width: 100%;

                img {
                  max-height: 50px;
                }
              }

              .views-field-status-plane {
                max-width: 165px;
                width: 100%;
              }

              .views-field-nothing-1 {
                max-width: 80px;
                width: 100%;

                .field-content {
                  display: flex;
                  align-items: center;

                  a {
                    font-size: 0;
                    height: 20px;

                    &:before {
                      display: inline-block;
                      content: url('../img/bell-solid-red.svg');
                      width: 20px;
                      height: 20px;
                    }

                    &:hover {
                      &:before {
                        content: url('../img/hover-bell.svg');
                      }
                    }
                  }

                  .ajax-progress {
                    display: none;
                  }
                }
              }
            }
          }
        }

        @media (max-width: 767px) {
          .views-row {
            flex-direction: column;

            .views-field-fieldset,
            .views-field-fieldset-1 {
              width: 100%;
            }

            .views-field fieldset {
              .views-field {
                max-width: 235px;
                width: 100%;
                display: flex;
                justify-content: center;
              }
            }
          }
        }
      }
      .view-footer {
        background-color: #ece7e9;
        text-align: center;
        min-height: 70px;
        a {
          padding: 22px 23px 22px 23px;
          border-radius: 30px;
          background-color: $red;
          text-transform: uppercase;
          transition: 0.3s;
          font-size: 14px;
          color: $white;
          font-weight: 600;
          text-decoration: none;
          &:hover {
            background-color: $black;
          }
        }
      }
    }
  }
}
