//Footer with social links.
footer {
        padding: 0;
        & .container-fluid{
        font-family: $english;
        letter-spacing: 1.14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        background-image: url(../img/footer-image.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .region{
            max-width: 1200px;
            width: 100%;
            #block-footersocial{
                display: flex;
                justify-content: space-between;
                padding: 30px 0;
                .field--name-field-contacts{
                    display: flex;
                    padding: 0 15px;
                    .field__item{
                        font-size: 15px;
                        margin-right: 65px;
                        display: flex;
                        align-items: center;
                        a {
                            text-decoration: none;
                            color: $white;
                            transition: all 0.5s;
                            &:hover {
                                @include red-hover;
                            }
                        }
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                    .field__item:lang(ar) {
                        margin-right: 0;
                        margin-left: 65px;
                    }
                }
                .social-link-field {
                    display: flex;
                    padding: 0 15px;
                    margin-bottom: 0;
                    display: flex;
                    align-items: center;
                    li {
                        margin-right: 25px;
                        font-size: 20px;
                        &:last-child{
                            margin-right: 0;
                        }
                        a {
                            color: $white;
                            text-decoration: none;
                            &:hover {
                                @include red-hover;
                            }
                            transition: all 0.5s;
                        }
                    }
                    li:lang(ar) {
                        margin-right: 0;
                        margin-left: 25px;
                    }
                }
            }
        }
    }
}
.region-brand-footer {
    display: flex;
    padding: 20px 0;
    #block-brandtext {
        padding: 0 15px;
        .field__item {
            font-weight: 400;
            &:first-child {
                font-size: 13px;
                color: $dark-violet;
            }
            &:nth-child(2) {
                font-size: 12px;
                font-style: italic;
                a {
                    color: $violet;
                }
            }
            p {
                margin: 0;
            }
        }
    }
    #block-brandimages {
        margin: auto 0 auto auto;
        .field__items {
            display: flex;
            .field__item {
                margin: 0 5px;
                .img-fluid {
                    max-width: none;
                    width: auto;
                }
            }
        }
    }
    #block-brandimages:lang(ar) {
        margin: auto auto auto 0;
    }
}
@media (max-width:768px) {
    .region-brand-footer {
        flex-direction: column;
        #block-brandtext {
            .field__item {
                text-align: center;
            }
        }
        #block-brandimages {
            margin: 16px auto 0;
        }
        #block-brandimages:lang(ar) {
            margin: 16px auto 0;
        }
    }
}
@media (max-width:768px) {
    footer .container-fluid .region #block-footersocial {
        display: flex;
        flex-direction: column;
        .field--name-field-contacts {
            display: flex;
            justify-content: center;
            .field__item{
                margin: 0 10px;
            }
        }
        .social-link-field {
            padding-top:15px;
            display: flex;
            justify-content: center;
            ul li {
                max-width: 80px;
                width: 100%;
            }
        }
    }
}
@media (max-width:568px) {
    footer .container-fluid .region #block-footersocial {
        padding-top: 30px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        .field--name-field-contacts {
            display: flex;
            flex-direction: column;
            align-items: center;
            .field__item {
                margin: 0;
                a{
                    padding: 7px 15px;
                    text-align: center;
                }
            }
            .field__item:lang(ar) {
                margin-left: 0;
            }
        }
        .social-link-field{
            padding-top:15px;
            display: flex;
            justify-content: center;
            padding-bottom: 15px;
            ul li{
                max-width: 80px;
                width: 100%;
                font-size: 15px;
            }
        }
    }
}
