@import 'variables_drupal';
@import 'mixins';
//Covid Block
covid {
    & .container-fluid {
        background-color: $red;
        & .img-fluid {
            width: auto;
            max-width: none;
        }
    }
}
#block-cocidblock {
    display: flex;
    color: $white;
    padding: 14px 0;
    & .closeblock {
        order: 3;
        margin-left: auto;
        font-size: 30px;
        font-weight: 700;
        & .closeblock-button {
            bottom: 15px;
            position: relative;
        }
    }
    & .field--name-field-wa {
        order: 1;
        & img {
            position: relative;
            top: 25%;
        }
    }
    & .field--name-body {
        order: 2;
        font-size: 14px;
        padding-left: 40px;
        & a {
            color: $white;
        }
        & p {
            margin-bottom: 0;
        }
        & p:first-child{
            font-size: 16px;
            font-weight: 700;
        }
    }
    @media (max-width: 630px) {
        .field--name-body {
            padding-left: 12px;
        }
        & .closeblock {
            font-size: 40px;
        }
    }
    @media (max-width: 530px) {
        & .field--name-field-wa {
            & img {
                top: 37%;
            }
        }
    }
}

//Header
header {
    & .container-fluid.first_container {
        background-color: $dark-blue;
        color: $white;
        font-family: $english;
    }
    .second_container {
      -webkit-box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
      -moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
      box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    }
    & .region-header {
        display: flex;
        align-items: center;
        font-size: 14px;
        & #block-weatherinbahrain {
            display: flex;
            & .weather_image {
                width: 36px;
                height: 36px;
                margin: auto 0;
            }
        }
        & .weather_temperature{
            margin: auto;
        }
        & #block-dropdownlanguage {
            cursor: pointer;
            font-size: 16px;
            font-weight: 400;
            &:hover {
                @include red-hover;
            }
            transition: all 0.5s;
            & .dropbutton-widget {
                background-color: $dark-blue;
                border: none;
                padding: 0;
                font-weight: 500;
                    & .dropdown-language-item {
                        border: none;
                        & .secondary-action {
                            border: none;
                            position: absolute;
                            background-color: $white;
                            top: 32px;
                            & a {
                                padding: 5px 21px;
                                background-color: white;
                                margin: 0;
                                border-radius: 5px;
                                border: 1px solid $dark-grey;
                                color: $black;
                                text-decoration: none;
                                &:hover {
                                    background-color: $red;
                                    color: $white;
                                 }
                            }
                        }
                        & .dropbutton-toggle {
                            &::after {
                                content: url('../img/arrow-down-white.png');
                                position: absolute;
                                bottom: 3px;
                                right: 0;
                            }
                            & .dropbutton-arrow {
                                border: none;
                            }
                        }
                    }
                }
        }
        & #block-bahraintime {
            font-weight: 500;
            margin-left: 49px;
            width: 102px;
        }
        & #block-weatherinbahrain {
            margin-left: 27px;
        }
        & #block-corporatepassengersmenu {
            font-size: 14px;
            font-weight: 400;
            margin-left: auto;
            & ul {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                & a {
                  text-decoration: none;
                  padding: 10px 27px;
                  color: $white;
                }
                a:not(.active, .is-active) {
                  opacity: 0.7;
                  &:hover {
                    background-color: #605f65;
                    transition: all 0.5s;
                  }
                }
                & .is-active, .active{
                    background-color: $red;
                    font-weight: 600;
                }
            }
        }
        & #block-corporatepassengersmenu:lang(ar) {
            margin-right: auto;
            margin-left: 0;
        }
        & #block-weatherinbahrain:lang(ar) {
            direction: ltr;
            margin-left: 0;
            margin-right: 27px;
        }
        & #block-bahraintime:lang(ar) {
            margin-right: 49px;
            margin-left: 0;
        }
        & #block-dropdownlanguage:lang(ar) {
            & .dropdown-language-item{
                & .secondary-action {
                    & a {
                        padding: 5px 7px;
                    }
                }
                & .dropbutton-toggle {
                    &::after {
                        right: 22px;
                    }
                }
            }
        }
        @media (max-width: 646px) {
            & #block-dropdownlanguage {
                & .dropbutton-wrapper {
                    font-size: 14px;
                }
                & .secondary-action:lang(ar) {
                    right: 0;
                }
                & .language-link{
                    padding: 6px 12px 6px 0;
                }
                & .secondary-action {
                    right: -11px;
                }
            }
            & #block-bahraintime {
                display: none;
            }
            & #block-weatherinbahrain {
                margin-left: 9px;
            }
            & #block-corporatepassengersmenu {
                & .navbar-nav {
                    & .nav-item a {
                        padding: 10px;

                    }
                }
            }
        }
        @media (max-width: 380px) {
            & #block-corporatepassengersmenu {
              & ul {
                flex-direction: column;
              }
            }
            & #block-dropdownlanguage {
                & .dropdown-language-item {
                    & .secondary-action {
                        top: 51px;
                    }
                }
            }
        }
    }
  //Main Navigation menu
  .second_container {
      .nav_wrapper {
          max-width: 1200px;
          width: 100%;
          display: flex;
          flex-direction: row;
          padding: 15px;
          margin: 0 auto;
          .region-nav-branding {
              margin-left: 0;
              padding: 0;
              .field-content {
                  p {
                  margin-bottom: 0;
                  }
              }
          }
          .region-nav-additional {
            display: flex;
            margin-bottom: 5px;
            margin-right: 0;
            padding: 0;
              & #block-bahrain-theme-search-form {
                display: none;
              }
            #block-serchimage {
              margin: auto;
              cursor: pointer;
              width: 20px;
            }
            &:lang(ar) {
              margin-left: 0;
              margin-right: auto;
            }
          }
      }
  }
}

.tabs {
    height: auto;
}

//Superfish menu
#superfish-passengers-menu,
#superfish-corporate-menu {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.35px;
  color: $black;
  display: inline-block;
  cursor: pointer;
  a {
    text-decoration: none;
    color: $black;
  }
  span.sf-depth-1, a.sf-depth-1 {
    padding: 8px;
    &:after {
      width: 0;
      transition: all 0.5s;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      border-bottom: 4px solid #da291c;
      margin: -4px auto auto;
      height: 4px;
    }
    &:hover:after {
      width: 100%;
    }
  }
  .sf-multicolumn {
    background-color: $white;
    left: -50%;
    .sf-no-children {
      & > a {
        color: $black;
        text-decoration: unset;
        transition: all 0.3s;
        font-weight: 400;
      }
      &:before {
        background: url(../img/bullet-arrow.png) no-repeat;
        content: "";
        width: 10px;
        height: 12px;
        position: absolute;
        left: 10px;
        top: 20px;
      }

      &:hover {
        & > a {
          transition: all 0.3s;
          color: $red;
        }
      }
    }
    &:lang(ar) {
      .sf-no-children {
        &:before {
          left: 0;
          right: -5px;
          transform: rotateY(180deg);
        }
      }
    }
  }
  .sf-multicolumn {
    margin-top: 29px;
    box-shadow: unset;
    -webkit-box-shadow: unset;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
  }
  .sf-multicolumn:lang(ar) {
    margin-top: 26px;
  }
  .sf-multicolumn-wrapper {
    padding: 16px 25px;
  }

}
// Passenger menu
#superfish-passengers-menu {
  li.sf-depth-1 {
    margin: 0 20px;
  }
  li:nth-child(2) {
    .sf-multicolumn {
      width: 300px;
      left: -63px;
    }
  }
  li:nth-child(3) {
    .sf-multicolumn {
      width: 740px;
      left: -314px;
      @media (max-width: 1400px) {
        left: -430px;
      }
      @media (max-width: 1200px) {
        left: -480px;
      }
      .nolink {
        font-size: 13px;
        line-height: 24px;
        font-weight: bold;
        color: black;
        text-transform: uppercase;
        padding: 1em 0 1em 0.4em;
      }
      .sf-multicolumn-wrapper {
        & > ol {
          & > li:nth-child(3) {
            padding-left: 25px
          }
        }
      }
    }
  }
  li:nth-child(4) {
    .sf-multicolumn {
      width: 620px;
      right: 0;
      left: auto;
    }
    .sf-multicolumn-wrapper {
      padding: 20px;
    }
  }
  span.sf-depth-1, a.sf-depth-1 {
    &:lang(ar) {
      &:after {
        top: 67px;
      }
    }
    &:after {
      top: 70px;
    }
  }
  .sf-depth-1:nth-child(4) {
    .sf-multicolumn {
      .sf-depth-2.sf-multicolumn-column:first-child {
        .sf-depth-2.menuparent {
          display: none;
        }
      }
      .sf-multicolumn-wrapper {
        & > ol {
          & > li:nth-child(2) {
            .sf-depth-2.nolink {
              font-size: 16px;
              line-height: 24px;
              font-weight: 700;
              color: $black;
              padding: 34px 0 0;
              text-transform: uppercase;
              letter-spacing: 1.63px;
              margin-bottom: 15px;
            }
            & ol {
              > li:nth-child(1) {
                font-size: 16px;
                font-weight: 400;
                line-height: 23px;
                &:before {
                  display: none;
                }
              }
              > li:nth-child(2) {
                margin: 20px 0;
                a {
                  padding: 0.7em 0;
                  position: relative;
                  font-size: 15px;
                  font-weight: bold;
                  color: $red;
                  &:lang(ar) {
                    transform: rotateY(180deg);
                  }
                  &:after {
                    content: url("../img/arrow-right-red.png");
                    width: 15px;
                    height: 14px;
                    left: 109px;
                    top: 10px;
                    position: absolute;
                  }
                }
                a:lang(ar) {
                  float: right;
                  &:after {
                    left: 147px;
                  }
                }
                &:before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Corporate menu
#superfish-corporate-menu {
  li.sf-depth-1 {
    margin: 0 3px;
  }
  .menuparent {
    & > ul {
      margin-top: 24px;
      width: 300px;
      left: -58px;
    }
  }
  li:nth-child(1) {
    & > ul {
      left: -80px;
    }
  }
  li:nth-child(6) {
    & > ul {
      left: -160px;
    }
  }
  span.sf-depth-1, a.sf-depth-1 {
    &:lang(ar) {
      &:after {
        top: 62px;
      }
    }
    &:after {
      top: 65px;
    }
  }
}
#block-corplogo {
  p {
    margin: 0;
  }
}
@media(max-width:991px) {
  header .second_container {
    .nav_wrapper {
      //menu
      align-items: center;
      .sf-accordion-toggle {
        display: none;
      }

      .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: unset;
      }
      button[aria-expanded="true"] {
        .navbar-toggler-icon {
          .navbar-line:nth-child(1) {
            transform-origin: bottom;
            transform: rotatez(45deg) translate(3px, 0px);
            width: 50%;
            &:lang(ar) {
              transform-origin: bottom;
              transform: rotatez(47deg) translate(-7px, 9px);
              width: 50%;
            }
          }
          .navbar-line:nth-child(2) {
            transform-origin: top;
            transform: rotatez(-45deg);
            width: 100%;
            &:lang(ar) {
              transform-origin: top;
              transform: translate(1px, 0px) rotatez(-50deg);
              width: 100%;
            }
          }
          .navbar-line:nth-child(3) {
            transform-origin: bottom;
            width: 58%;
            transform: translate(11px, -5px) rotatez(45deg);
            &:lang(ar) {
              transform-origin: bottom;
              width: 58%;
              transform: translate(1px, -4px) rotatez(45deg);
            }
          }
        }
      }

      #navbarSupportedContent {
        overflow-y: scroll;
        transition: top 0.3s ease 0s;
        background: $white;
        position: fixed;
        z-index: 10000;
        width: 100%;
        margin-top: 9px;
        top: 107px;
        left: 0;
      }
      .region-nav-main {
        padding: 0;
      }
      .navbar-toggler-icon {
        display: flex;
        flex-direction: column;
        .navbar-line {
          width: 100%;
          background: red;
          border-radius: 10px;
          height: 4px;
          margin: 2px 0;
          transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        }
        .navbar-line:nth-child(2) {
          width: 75%;
        }
      }
      //Expanded
      #superfish-passengers-menu-accordion, #superfish-corporate-menu-accordion {
        &:lang(ar) {
          margin-right: 0;
        }
        transition: all 0.5s;
        .menuparent:hover{
          ul {
            display: none;
          }
        }
        .sf-expanded {
          & > span {
            &:after {
              transition: all 0.4s;
              transform: rotateX(180deg);
            }
          }
        }
        & > .sf-depth-1:first-child {
          border-top: 1px solid $dark-grey;

          &:after {
            background-image: unset;
          }
        }
        & > .sf-depth-1 {
          border-bottom: 1px solid $dark-grey;
          position: relative;

          .sf-no-children {
            line-height: 20px;
            font-size: 16px;
            font-weight: 300;
            color: #3b3b3b;
            border-top: 1px solid $dark-grey;
            & > a {
              padding-left: 78px;
              position: relative;
              &:before {
                background: url(../img/bullet-arrow.png) no-repeat;
                content: "";
                width: 10px;
                height: 12px;
                position: absolute;
                top: 19px;
                left: 55px;
              }
            }
            &:lang(ar) {
              & > a {
                padding-right: 78px;
                &:before {
                  left: auto;
                  transform: rotateY(180deg);
                  right: 55px;
                }
              }
            }
          }
          .menuparent {
            & > .nolink {
              border-top: 1px solid $dark-grey;
              padding-left: 35px;
              line-height: 22px;
              font-size: 13px;
              font-weight: bold;
              text-transform: uppercase;
              letter-spacing: 1.63px;
              &:lang(ar) {
                padding-right: 35px;
              }
            }
          }
          span:after {
            transition: all 0.4s;
            content: '';
            position: absolute;
            top: 40%;
            right: 15px;
            background-image: url(../img/collapse.png);
            background-repeat: no-repeat;
            width: 18px;
            height: 18px;
          }
          &:lang(ar) {
            span:after {
              right: auto;
              top: 15px;
              left: 30px;
            }
          }
        }
        a {
          text-decoration: none;
          color: $black;
        }
        & > .sf-depth-1:nth-child(4) {
          & > ul {
            li:nth-child(2) {
              & > ul {
                li:first-child {
                  display: none;
                }
              }
            }
          }
        }
      }
      //order
      .region-nav-branding {
        order: 2;
        margin: 0 auto;
      }

      .region-nav-additional {
        order: 3;
        margin: 0 0 5px;
      }
      #navbarSupportedContent.collapse.show {
        height: calc(100% - 127px);
        -webkit-transition: top 0.3s ease 0s;
        -o-transition: top 0.3s ease 0s;
        transition: top 0.3s ease 0s;
        background: #fff;
        position: fixed;
        z-index: 10000;
        width: 100%;
        margin-top: 20px;
        top: 107px;
        left: 0;
      }
    }
  }
}
.fixed-body {
  position: fixed;
  width: 100%;
}
@media(max-width: 1040px) {
  #superfish-corporate-menu li.sf-depth-1 {
    font-size: 14px;
  }
  #superfish-corporate-menu .sf-multicolumn .sf-no-children:before {
    top: 16px;
  }

}
@media(max-width: 1136px) {
  #superfish-passengers-menu li.sf-depth-1 {
    margin: 0 10px;
  }
  #superfish-passengers-menu li.sf-depth-1:lang(ar) {
    margin: 0 5px;
    font-size: 14px;
  }
}
@media (max-width: 380px) {
  header .second_container {
    .nav_wrapper {
      #navbarSupportedContent.collapse.show {
        height: calc(100% - 168px);
        top: 148px;
      }
    }
  }
}
