@import 'mixins.scss';
@import 'variables_drupal.scss';
.main-page{
   #block-views-block-our-services-block-1--2{
       margin: 50px 0;
       h2 {
           margin-bottom: 20px;
       }
       .view-our-services{
           .view-content{
                #our-services-slider{
                   position: relative;
                   #our-services-slider-slider{
                       .slick-list{
                           .slick-track{
                               .slide{
                                   width: 298px;
                                   height: 390px;
                                   .field-content{
                                       display: flex;
                                       justify-content: center;
                                        img{
                                            width: 278px;
                                            height: 320px;
                                            border-radius: 9px;
                                            object-fit: cover;
                                        }
                                    }
                                   .views-field-title{
                                       position: relative;
                                       display: flex;
                                       justify-content: center;
                                       a{
                                           position: absolute;
                                           border-radius: 5px;
                                           top:-20px;
                                           font-family: $english;
                                           font-weight: 600;
                                           box-shadow: 0 2px 24px 0 rgb(59 59 59 / 16%);
                                           display: flex;
                                           align-items: center;
                                           font-size:19px;
                                           max-width: 250px;
                                           width: 100%;
                                           height: 70px;
                                           padding: 10px 10px 10px 15px;
                                           background-color: $white;
                                           color: $black;
                                           text-decoration: $black;
                                           &:after{
                                               content: "";
                                               position: absolute;
                                               right: 15px;
                                               background: url("../img/arrow-right-black.png") no-repeat;
                                               display: block;
                                               width: 15px;
                                               height: 14px;
                                           }
                                           &:hover{
                                               &:after{
                                                animation: arrow 1s;
                                               }
                                           }
                                       }
                                   }
                               }
                           }
                       }
                   }
                   .slick__arrow{
                       position: absolute;
                       width: 1300px;
                       left: -65px;
                       padding: 0 15px;
                       .slick-prev{
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-color: $white;
                        background-image: url('../img/slider-arrow.png');
                           &::before{
                                font-family: none;
                                content: none;
                           }
                       }
                        .slick-next{
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-color: $white;
                        background-image: url('../img/slider_next.jpg');
                            &::before{
                                font-family: none;
                                content: none;
                            }
                        }
                        &:lang(ar) {
                            &.slick-prev {
                                right: auto;
                                left: 0;
                            }
                            &.slick-next {
                                left: auto;
                                right: 0;
                            }
                        }
                   }
                   .slick__arrow:lang(ar) {
                        .slick-prev {
                            right: auto;
                            left: 0;
                        }
                        .slick-next {
                            left: auto;
                            right: 0;
                        }
                    }
                    @media (max-width: 1300px) {
                        .slick__arrow {
                            left: 0;
                        }
                    }
               }
           }
       }
   }
   .block-wrapper-park{
    background-image: url("../img/wheretopark-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    font-family: $english;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    width: 100vw;
    left: calc(-50vw + 50%);
    position: relative;
    &:lang(ar){
        right: calc(-50vw + 50%);
    }
        #block-views-block-where-to-park-block-1{
            max-width: 1200px;
            width: 100%;
            .view-display-id-block_1{
                display: flex;
                .view-header{
                    max-width: 500px;
                    width: 100%;
                    padding: 0 15px;
                    img{
                        margin-top: 15px;
                        width: 470px;
                        height: 550px;
                        object-fit: cover;
                        border-radius: 3%;
                        float: left;
                    }
                }
                .view-content{
                    margin-top: 50px;
                    margin-left: 70px;
                    padding: 0 15px;
                    .views-row{
                        .views-field{
                            color: $white;
                            p:first-child{
                                font-size: 30px;
                                font-weight: 700;
                            }
                            p:nth-child(1n+2){
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 1.56;
                                color: $white;
                            }
                            .ckeditor-accordion-container{
                                dl{
                                    border: none;
                                    dt{
                                        background-color: transparent;
                                        line-height: 21px;
                                        letter-spacing: 1.8px;
                                        padding: 20px 30px 10px 0px;
                                        font-size: 19px;
                                        border-bottom: 0.5px solid $white;
                                        &.active {
                                            border-bottom: none;
                                            .ckeditor-accordion-toggler .ckeditor-accordion-toggle{
                                                &:before{
                                                    content: "";
                                                    width: 15px;
                                                    height: 2px;
                                                    background: $white;
                                                    display: block;
                                                    transform: rotate(45deg);
                                                }
                                                &:after{
                                                    content: "";
                                                    width: 15px;
                                                    height: 2px;
                                                    background: $white;
                                                    display: block;
                                                    transform: rotate(-45deg);
                                                    position: absolute;
                                                    left: 13px;
                                                }
                                            }
                                        }
                                        .ckeditor-accordion-toggler{
                                            background-color: transparent;
                                            text-decoration: none;
                                            border: none;
                                            position: relative;
                                            padding-left: 0;
                                            .ckeditor-accordion-toggle{
                                                position: absolute;
                                                left: 100%;
                                                &:before{
                                                    content: "";
                                                    width: 15px;
                                                    height: 2px;
                                                    background: $white;
                                                    display: block;
                                                    transform: rotate(0deg);
                                                }
                                                &:after{
                                                    content: "";
                                                    width: 0;
                                                    height: 0;
                                                }
                                            }
                                        }
                                    }
                                    dd{
                                        p:first-child{
                                            font-size: 18px;
                                            line-height: 1.56;
                                            font-weight: 400;
                                            padding-left: 0;
                                        }
                                        p a{
                                            color: $white;
                                            text-transform: uppercase;
                                            text-decoration: none;
                                            font-size: 13px;
                                            font-weight: 600;
                                        }
                                        border-bottom: 0.5px solid $white;
                                        &.active{
                                            padding: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @media (max-width: 992px) {
                .view-display-id-block_1{
                    flex-direction: column;
                    .view-header{
                        max-width: 992px;
                        width: 100%;
                        img{
                            width: 100%;
                            height: 350px;
                        }
                    }
                    .view-content{
                        margin-left: 0;
                    }
                }
            }
            @media (max-width: 575px) {
                .view-display-id-block_1{
                    .view-header{
                        img{
                            height: 170px;
                        }
                    }
                    .view-content{
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    .block-wrapper-lounges{
        background-image: url("../img/pink-bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        font-family: $english;
        padding-top: 30px;
        padding-bottom: 60px;
        width: 100vw;
        left: calc(-50vw + 50%);
        position: relative;
        &:lang(ar){
            right: calc(-50vw + 50%);
        }
        #block-views-block-lounges-hotel-view-block-1--2{
            max-width: 1200px;
            margin: 0 auto;
            position: relative;
            padding: 0 15px;
            h2{
                font-size: 35px;
                line-height: 1.2;
                color: $white;
            }
            .view-header{
                font-size: 18px;
                line-height: 1.56;
                color: $white;
            }
            #slick-views-lounges-hotel-view-block-1-2-slider{
                margin-top: 20px;
                margin-bottom: 70px;
                .slick__slide{
                    .global{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .views-field-fieldset{
                            max-width: 400px;
                            padding: 30px;
                            height: 350px;
                            background-color: $white;
                            border-radius: 9px 0 0 9px;
                            &:lang(ar){
                                border-radius: 0 9px 9px 0;
                            }
                            .views-field-title{
                                font-size: 20px;
                                a{
                                    color: $black;
                                    text-decoration: none;
                                }
                            }
                        }
                        .views-field-field-at-the-airport-image{
                            height: 465px;
                            img{
                                height: 464px;
                                object-fit: cover;
                                border-radius: 9px;
                                width: 378px;
                            }
                            @media (max-width: 500px) {
                                & img{
                                    height: 300px;
                                }
                            }
                        }
                    }
                    @media (max-width: 768px) {
                        .global {
                            flex-direction: column-reverse;
                            .views-field-fieldset{
                                max-width: 768px;
                                padding: 0;
                                height: auto;
                                background-color: transparent;
                                border-radius: none;
                                text-align: center;
                                .views-field-title a{
                                    color: $white;
                                    text-decoration: none;
                                }
                                .views-field-body{
                                    color: $white;
                                }
                            }
                            .views-field-field-at-the-airport-image{
                                height: auto;
                                img{
                                    height: 375px;
                                    width: auto;
                                }
                            }
                        }
                    }
                }
            }
            @media (max-width: 768px) {
                #slick-views-lounges-hotel-view-block-1-2-slider{
                    margin-bottom: 30px;
                }
            }
            .slick__arrow{
                position: static;
                display: flex;
                width: 150px;
                margin-left: 20%;
                padding-bottom: 10px;
                .slick-prev{
                    width: 47px;
                    height: 47px;
                    border-radius: 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-color: $white;
                    background-image: url('../img/slider-arrow.png');
                       &::before{
                            font-family: none;
                            content: none;
                       }
                   }
                .slick-next{
                width: 47px;
                height: 47px;
                border-radius: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                background-color: $white;
                background-image: url('../img/slider_next.jpg');
                    &::before{
                        font-family: none;
                        content: none;
                    }
                }
                &:lang(ar) {
                    margin-right: 20%;
                    .slick-prev {
                        right: auto;
                        left: 0;
                    }
                    .slick-next {
                        left: auto;
                        right: 0;
                    }
                }
            }
            @media (max-width: 768px) {
                .slick__arrow {
                    margin: 0 auto;
                &:lang(ar) {
                    margin: 0 auto;
                }
                }
            }
            .more-link{
                position: absolute;
                right: 25%;
                bottom: 0;
                a{
                    color: $black;
                    padding: 10px 20px;
                    border-radius: 20px;
                    background-color: $white;
                    font-family: $english;
                    text-decoration: none;
                }
                &:lang(ar){
                    right: 75%;
                }
            }
            @media (max-width: 768px) {
                .more-link{
                    margin-top: 40px;
                    position: static;
                    text-align: center;
                }
            }
        }
    }

    #block-views-block-contact-us-block-1-2 {
        margin-bottom: 65px;
        padding: 0 15px;
        h2 {
            font-size: 35px;
            line-height: 42px;
            font-weight: 700;
            padding: 50px 0 30px;
        }
        .view-header {
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 40px;
        }
        .view-content {
            .field-content {
                display: flex;
                .paragraph--type--contact-block {
                    display: flex;
                    &:not(:nth-child(1)) {
                        border-left: 1px solid rgba(59, 59, 59, 0.2);
                        padding-left: 30px;
                    }
                    &:lang(ar) {
                        padding-left: 0;
                        padding-right: 30px;
                        &:nth-child(1) {
                            border-left: 1px solid rgba(59, 59, 59, 0.2);
                            padding-left: 0;
                            padding-right: 30px;
                        }
                        &:nth-child(2) {
                            border-left: 1px solid rgba(59, 59, 59, 0.2);
                            padding-left: 0;
                            padding-right: 30px;
                        }
                        &:nth-child(3) {
                            border-left: 1px solid rgba(59, 59, 59, 0.2);
                            padding-left: 0;
                            padding-right: 30px;
                        }
                        &:nth-child(4) {
                            border-left: none;
                            padding-left: 0;
                        }
                    }
                    .field--name-field-contact-image {
                        display: flex;
                        img {
                            margin: auto 0;
                            width: 31px;
                            max-height: 31px;
                        }
                    }
                    .text_only {
                        padding: 0 60px 0 30px;
                        &:lang(ar)
                        {
                            padding: 0 30px 0 60px;
                        }
                        .field--name-field-info-name {
                            color: $dark-violet;
                            font-size: 12px;
                            font-weight: 700
                        }
                        .field--name-field-info-itself {
                            a {
                                @include red-hover;
                                font-size: 18px;
                                font-weight: 700;
                                text-decoration: none;
                                &:hover {
                                    color: $dark-violet
                                }
                            }
                        }
                        @media (max-width:1177px) {
                            .field--name-field-info-name {
                                font-size: 10px;
                            }
                            .field--name-field-info-itself {
                                a {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    @media (max-width: 1070px) {
                        .text_only {
                            padding: 0 20px
                        }
                        .text_only:lang(ar){
                            padding: 0 20px
                        }
                    }
                }
            }
        }
        @media (max-width: 875px) {
            h2 {
                font-size: 32px;
                padding: 40px 0 20px;
            }
            .view-header {
                font-size: 16px;
                margin-bottom: 10px;
            }
            .view-content {
                .field-content {
                    flex-direction: column;
                    .paragraph--type--contact-block {
                        padding: 15px 0;
                        &:not(:nth-child(1)) {
                            border-left: none;
                            border-top: 1px solid rgba(59, 59, 59, 0.2);;
                            padding-left: 0;
                        }
                        &:lang(ar) {
                            &:nth-child(1) {
                                border-left: none;
                                padding-right: 0;
                            }
                            &:nth-child(2) {
                                border-left: none;
                                padding-right: 0;
                            }
                            &:nth-child(3) {
                                border-left: none;
                                padding-right: 0;
                            }
                            &:nth-child(4) {
                                padding-right: 0;
                            }
                        }
                        .text_only {
                            .field--name-field-info-name {
                                font-size: 13px;
                            }
                            .field--name-field-info-itself {
                                a {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
