@import 'variables_drupal';
@import 'mixins';
.region {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
body {
  font-family: $english;
  overflow-x: hidden;
  &:lang(en) {
    font-family: $english;
  }
  &:lang(ar) {
    font-family: $arabic;
  }
}
ul {
  all: unset;
}
.scrollup {
  height: 0;
  width: 0;
  right: 30px;
  &:last-child {
    width: 40px;
    height: 40px;
    border: 1px solid $white;
  }
  .scroll-title {
    display: none;
  }
  @media (max-width: 768px) {
    &:last-child {
      transform: translateX(60px);
    }
  }
  @media (max-width: 450px) {
    &:last-child {
      transform: translate(76px, 20px);
    }
  }
}

//Menu tabs
.container-fluid.tabs {
  border-bottom: solid 1px rgba(151,151,151,.38);
}
.region-tabs {
  .navbar-nav {
    flex-direction: row;
    justify-content: center;
  }
  .nav-item {
    position: relative;
    margin: 0 10px;
    a {
      font-size: 15px;
      font-weight: 700;
      color: $black;
      padding: 28px 2px;
      &:after {
        width: 0;
        transition: all 0.5s;
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-bottom: 4px solid #da291c;
        margin: -3px auto auto;
        height: 4px;
      }
      &:hover:after {
        width: 100%;
      }
    }
  }
  a.is-active {
    &:after {
      width: 100%;
      max-width: 100%;
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border-bottom: 4px solid #da291c;
      margin: auto;
      margin-top: -3px;
      transition: all .5s;
      height: 4px;
    }
  }
}
//Search region
.search-region {
  visibility: hidden;
  top: 0;
  width: 100%;
  position: absolute;
  z-index: -100;
  transition: all 1s linear;
}
body.fixed {
  overflow: hidden;
}
.search-region.active {
  visibility: initial;
  display: block;
  width: 100%;
  height: 100%;
  background-color: $red;
  z-index: 1000;
  position: fixed;
  padding-top: 60px;
  overflow-y: auto;
}
.region-search-region {
  display: flex;
  flex-direction: row;
  position: relative;
  #block-closebutton {
    position: absolute;
    right: 10px;
    height: 24px;
    top: 6px;
    cursor: pointer;
    &:hover {
      color: $light-grey;
    }
  }
  .js-form-type-search {
    margin-top: auto;
    width: 100%;
  }
  #block-bahrain-theme-search-form {
    width: 100%;
    position: relative;
    h2 {
      color: $white;
      font-size: 30px;
      font-weight: 300;
      margin-right: 26px;
      line-height: 32px;
    }
  }
  .form-control {
    border: none;
    border-radius: 0;
    &:focus {
      box-shadow: none;
    }
  }
  #search-block-form {
    color: #ffffff;
    font-size: 50px;
    line-height: 65px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-width: 0 0 1px;
    width: 100%;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    &:focus {
      border: none;
    }
  }
  #edit-submit {
    font-size: 0;
    padding: 0;
    width: 35px;
    height: 35px;
    outline: none;
    border: none;
    background: url(../img/search-overlay.png) no-repeat;
    box-shadow: none;
  }
  #edit-actions {
    margin-left: auto;
  }
  #edit-keys {
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    background: none;
    border: none;
    position: relative;
    padding: 0 0 6px;
  }
}
//search region
.path-search {
  #display: none;
  @include ultimate-page;
  #edit-keys {
    display: block;
    width: 100%;
    padding: 12px 26px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.63;
    color: #212529;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid $dark-grey;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 25px;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    &:focus {
      border-color: $red;
      box-shadow: 0 0 0 0.25rem rgb(123 6 6 / 36%);
    }
  }
  #edit-submit {
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin: 8px 3px;
    -moz-user-select: none;
    user-select: none;
    background-color: $red;
    border: 1px solid transparent;
    padding: 9px 15px;
    font-size: 0.875rem;
    border-radius: 360px;
    &:focus {
      box-shadow: none;
      opacity: 0.8;
    }
  }
  .search-results {
    padding: 0;
    li {
      margin-left: 0;
    }
  }
}
.region.region-instagram {
  #block-instagram {
    position: relative;
  }
  max-width: 100%;
  padding: 0;
  h2 {
    max-width: 1200px;
    padding: 0 15px;
    margin: 30px auto;
    font-size: 35px;
    line-height: 1.2;
    color: $black;
    font-weight: 700;
    &:lang(ar){
      text-align: end;
    }
  }
  .field--name-body {
    p {
      position: absolute;
      right: 15%;
      top: 10px;
    }
  }
  .insta-link {
    position: relative;
    font-family: $english;
    padding: 12px 44px 12px 20px;
    line-height: 16px;
    border-radius: 20px;
    letter-spacing: 1px;
    color: #fff;
    background-color: #da291c;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    text-transform: uppercase;
    &:before {
      position: absolute;
      background: url(../img/icon-instagram.png);
      width: 14px;
      height: 14px;
      margin-top: auto;
      margin-bottom: auto;
      content: "";
      display: inline-block;
      right: 18px;
      top: 36%;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  @media (max-width: 476px) {
    h2 {
      text-align: center;
      &:lang(ar) {
        text-align: center;
      }
    }
    .field--name-body {
      p {
        position: inherit;
        display: flex;
        justify-content: center;
      }
    }
  }
}
