@import 'mixins.scss';
@import 'variables_drupal.scss';

.filming-and-photography {
    @include ultimate-page;
    p {
        margin-bottom: 15px;
    }
    .view-bahrain-airport-company {
        margin-top: 45px;
        color: $dark-violet;
    }
    .view-header {
        margin-bottom: 30px;
    }
    .paragraph--type--corporate-with-image {
        display: flex;
        margin-bottom: 30px;
        .field--name-field-corporate-image {
            max-width: 41.666667%;
            margin-right: 100px;
        }
        .with_img_text {
            max-width: 58.333333%;
            margin: auto 0;
            .field--name-field-corp-title {
                font-weight: 700;
                color: $black;
                font-size: 22px;
                line-height: 1.2;
            }
        }
        .field--name-field-corporate-image:lang(ar) {
            margin-right: 0;
            margin-left: 100px;
        }
        @media (max-width: 1227px) {
            .field--name-field-corporate-image {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-right: 35px;
            }
            .field--name-field-corporate-image:lang(ar) {
                margin-right: 0;
                margin-left: 35px;
            }
            p {
                margin-bottom: 15px;
            }
        }
    }
    @media (max-width: 767px) {
        .paragraph--type--corporate-with-image {
            p {
                margin-bottom: 15px;
            }
            flex-direction: column;
            .field--name-field-corporate-image {
                margin-bottom: 35px;
                max-width: 100%;
                margin: 0 auto 15px;
                img {
                    margin: 0 auto;
                }
            }
            .field--name-field-corporate-image:lang(ar) {
                margin: 0 auto 15px;
            }
            .with_img_text {
                max-width: 100%;
            }
        }
    }
    .field--name-field-corp-body {
        @include ul-mixin;
    }
}


.contacts-media {
    @include ultimate-page;
    .region-content {
        display: grid;
        grid-template-areas:
        "head"
        "main";
        #block-bahrain-theme-page-title {
            grid-area: head;
        }
        #block-emanmarhoon {
            @include redblock;
            grid-area: main;
            .field--name-field-red-text {
                text-align: start;
            }
        }
        #block-mohamedawadhi {
          @include redblock;
          grid-area: main;
          margin-left: 395px;
          .field--name-field-red-text {
            text-align: start;
          }
          :lang(ar) {
            margin-left: 0;
            margin-right: 395px;
          }
        }
        @media (max-width: 730px) {
            display: flex;
            flex-direction: column;
            #block-emanmarhoon {
                margin: 0 auto 30px;
            }
            #block-mohamedawadhi {
                margin: 0 auto 30px;
            }
        }
    }
}
