@mixin red-hover {
    color: $red;
    transition: all 0.5s;
}

@keyframes arrow {
    from {
        right: 15px;
    }
    40% {
        animation-timing-function: ease-in;
        right: 25px;
    }
    60% {
        animation-timing-function: ease-in;
        right: 15px
    }
    80% {
        animation-timing-function: ease-in;
        right: 20px;
    }
    to {
        animation-timing-function: ease-in;
        right: 15px;
    }
}
@keyframes arabic-arrow {
  from {
    left: 15px;
  }
  40% {
    animation-timing-function: ease-in;
    left: 25px;
  }
  60% {
    animation-timing-function: ease-in;
    left: 15px
  }
  80% {
    animation-timing-function: ease-in;
    left: 20px;
  }
  to {
    animation-timing-function: ease-in;
    left: 15px;
  }
}

@mixin page-title {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: #000;
    margin-bottom: 25px;
    margin-top: 30px;
}

@mixin header {
    font-size: 18px;
    color: #000;
    text-align: center;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 100px;
    max-width: 790px;
    p{
        max-width: 790px;
    }
}

@mixin table_with_header {
    table {
        thead{
            th{
                padding: 5px 10px;
                background-color: $dark-grey;
                &:first-child{
                    border-radius: 9px 0 0 0;
                    width: 50%;
                    &:lang(ar) {
                        border-radius: 0 9px 0 0;
                    }
                }
                &:last-child{
                    border-radius: 0 9px 0 0;
                    width: 50%;
                    &:lang(ar) {
                        border-radius: 9px 0 0 0;
                    }
                }
            }
        }
        tbody{
            border: 1px solid $dark-grey;
            border-top: none;
            tr{
                border-top: 1px solid $dark-grey;
                td{
                    padding: 5px 10px;
                }
                td:first-child{
                    width: 50%;
                    border-right: 1px solid $dark-grey;
                    &:lang(ar) {
                        border-left: 1px solid $dark-grey;
                    }
                }
                td:last-child{
                    width: 50%;
                }
            }
        }
    }
}

@mixin table_without_header {
    table {
        width: 50%;
        margin-bottom: 16px;
        tbody {
            tr {
                border-top: 1px solid $dark-grey;
                td {
                    padding: 12px;
                    line-height: 26px;
                    min-width: 115px;
                }
            }
        }
    }
}

@mixin page_title {
    .page-title {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    @media (max-width: 600px) {
        .page-title {
            font-size: 32px;
        }
    }
    @media (max-width: 400px) {
      .page-title {
        font-size: 22px;
      }
    }
}

@mixin redblock {
    max-width: 30.75%;
    min-width: 290px;
    margin: 0 15px 30px;
    color: $white;
    box-shadow: 0 2px 24px 0 rgb(59 59 59 / 16%);
    .red_top {
        background-color: $red;
        padding: 15px 20px;
        .field--name-field-red-title {
            font-size: 19px;
            font-weight: 700;
            margin-bottom: 5px;
        }
        .field--name-field-red-text {
            font-size: 12px;
            font-weight: 700;
            line-height: 2.17;
            letter-spacing: 1.5px;
        }
    }
    .white_bot {
        padding: 25px 15px 30px;
        a {
            color: $black;
        }
        color: $black;
        .field--name-field-red-contact {
            font-size: 16px;
            font-weight: 400;
            img {
                width: 17px;
                height: 17px;
                margin-right: 14px;
            }
            img:lang(ar) {
                margin-left: 14px;
                margin-right: 0;
            }
        }
        .field--name-field-red-phone {
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            img {
                width: 17px;
                height: 17px;
                margin-right: 14px;
            }
            img:lang(ar) {
                margin-left: 14px;
                margin-right: 0;
            }
        }
    }
    @media (max-width: 360px) {
        margin: 15px auto;
    }
}

@mixin ultimate-page {
    @include page_title;
    .region-content {
        padding: 20px 15px 0;
        line-height: 24px;
        text-align: justify;
        .block-system-main-block {
            p {
                margin-bottom: 30px;
            }
            h2 {
            font-weight: 700;
            font-size: 22px;
            margin-bottom: 10px;
            }
            strong {
            color: $dark-violet;
            }
            @media (max-width: 767px) {
                p {
                    margin-bottom: 25px;
                }
            }
            a {
                color: $red;
                text-decoration: none;
                &:hover {
                    color: $black;
                }
            }
        }
    }
}

@mixin ul-mixin {
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    @media (max-width: 767px) {
        ul {
            padding-inline-start: 20px;
        }
     }
}
