@import 'variables_drupal';
@import 'mixins';
.news-page {
  @include ultimate-page;
  .view-news-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    .view-filters .form--inline{
      display: flex;
      .js-form-item input,
      .js-form-item select {
        border-radius: 50px;
      }
      .form-actions input {
        border-radius: 50px;
        background-color: $red;
        border: none;
        &:hover {
          background-color: $black;
        }
      }
    }
    .view-content .views-infinite-scroll-content-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .views-row {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .views-field-field-news-image {
          height: 260px;
          width: auto;
          img {
            height: 260px;
            width: auto;
            object-fit: cover;
            border-radius: 9px;
          }
        }
        .views-field-fieldset {
          max-width: 330px;
          background-color: $white;
          border-radius: 9px;
          margin: -30px auto 0;
          display: inline-block;
          padding: 20px;
          box-shadow: 0 2px 24px 0 rgb(59 59 59 / 16%);
          .views-field-field-date-of-news {
            text-transform: uppercase;
            font-size: 12px;
            padding: 0 10px;
            background-color: $white;
            letter-spacing: 1.2px;
          }
          .views-field-title {
            padding: 0 10px;
            background-color: $white;
            a {
              color: $black;
              text-decoration: none;
              font-weight: 700;
            }
          }
        }
      }
      @media (max-width: 900px) {
         & {
          grid-template-columns: 1fr 1fr;
        }
      }
      @media (max-width: 768px) {
        & {
          grid-template-columns: 1fr;
          .views-row {
            .views-field-field-news-image {
              height: 260px;
              max-width: 360px;
              width: 100%;
              img {
                height: 260px;
                object-fit: cover;
                max-width: 360px;
                width: 100%;
                border-radius: 9px;
              }
            }
          }
        }
      }
    }
    .js-pager__items {
      text-align: center;
      margin-top: 20px;
      a {
        transition: all 0.3s;
        padding: 12px 20px;
        border: 1px solid $black;
        border-radius: 20px;
        color: $black;
        text-decoration: none;
        text-transform: uppercase;
        min-width: 152px;
        font-size: 13px;
        &:hover {
          background-color: $black;
          color: $white;
        }
      }
    }
  }
}
.page-node-type-news {
  @include page_title;
  main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 0 15px;
    .container-fluid {
      max-width: 1200px;
      .order-1 {
        .field--name-field-date-of-news {
          color: $light-grey;
        }
        .field--name-field-news-image {
          margin: 15px 0;
        }
      }
      .order-3 {
        background-color: $dark-grey;
        height: max-content;
        padding: 20px;
        h2 {
          font-size: 22px;
          font-weight: 700;
        }
        .views-row {
          margin: 15px 0;
          &:hover a {
            transition: all 0.3s;
            color: $red;
          }
          a {
            color: $black;
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
      @media (max-width: 991px) {
        .order-3 {
          margin-bottom: 30px;
          text-align: center;
        }
      }
    }
  }
}
