@import 'variables_drupal';
@import 'mixins';

.page-node-type-photo-gallery {
  @include page_title;
  main {
    margin-top: 30px;
  }
  .field--name-field-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    margin-bottom: 30px;
    .field__item {
      display: flex;
      justify-content: center;
      height: 212px;
      object-fit: cover;
      padding: 0 10px;
      img {
        height: 100%;
        width: 90%;
      }
    }
  }
  @media (max-width: 1200px) {
    .field--type-image {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 767px) {
    .field--type-image {
      grid-template-columns: 1fr;
    }
  }
}
.page-node-type-video-gallery {
  @include page_title;

  main {
    margin-top: 30px;
    .field--name-body p {
      text-align: center;
      font-size: 22px;
    }
    .field__item {
      .paragraph--type--video-gallery {
        margin-bottom: 40px;
        .field--name-field-video-iframe {
          margin: 30px 0 10px;
          display: flex;
          justify-content: center;
          p {
            margin: 0;
          }
          @media (max-width: 767px) {
            iframe {
              width: 500px;
              height: 282px;
            }
          }
          @media (max-width: 510px) {
            iframe {
              width: 310px;
              height: 175px;
            }
          }
        }
        .field--name-field-video-description {
          display: flex;
          flex-direction: column;
          align-items: center;
          p {
            text-align: center;
            max-width: 698px;
          }
        }
      }
    }
  }
}
