@import 'mixins.scss';
@import 'variables_drupal.scss';

.privacy-policy-page {
  @include ultimate-page;
  .node__content {
    @include ul-mixin;
  }
}
.sitemap {
  @include ultimate-page;
  .region-content .block-system-main-block p {
    margin-bottom: 15px;
  }
  .node__content {
    ul li:nth-child(-n+9) {
      list-style-type: none;
    }
    span {
      color: $red;
      font-size: 19px;
      font-weight: 600;
      line-height: 34px;
    }
    p {
      font-size: 21px;
      font-weight: bold;
      padding-bottom: 10px;
      list-style-type: none;
      border-bottom: 2px solid #dcdcdc;
      margin: 10px 0 5px  ;
    }
    ul {
      display: block;
      padding-inline-start: 40px;
      text-align: left;
    }
    @media (max-width: 767px) {
      ul {
        padding-inline-start: 20px;
      }
    }
  }
}
