@import 'variables_drupal';
@import 'mixins';

.page-immigration-visas {
  #block-bahrain-theme-page-title {
    @include page_title;
    margin-top: 20px;
  }
    .region-content {
        line-height: 24px;
        text-align: justify;
        a {
        color: $red;
        text-decoration: none;
            &:hover{
                color: $black;
            }
        }
        h2 {
            font-weight: 700;
            font-size: 22px
        }
        @include table_without_header;
    }
}

.page-security-customs {
  #block-bahrain-theme-page-title {
    @include page_title;
    margin-top: 20px;
  }
    .region-content {
        line-height: 24px;
        text-align: justify;
        .field--type-text-long:nth-child(2) {
            padding: 0 15px;
        }
        ul {
            li {
                list-style-type: none;
                margin-bottom: 15px;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 1px;
                position: relative;
                padding-left: 25px;
                list-style-type: none;
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 8px;
                    background: url(../img/arrow-right.png);
                    width: 8px;
                    height: 10px;
                    background-size: contain;
                }
            }
            li:lang(ar) {
                padding-left: 0;
                padding-right: 25px;
                &::before {
                    content: '';
                    position: absolute;
                    background: url(../img/arrow-right.png);
                    width: 8px;
                    height: 10px;
                    background-size: contain;
                    left: auto;
                    right: 0;
                    transform: rotate(180deg);
                    top: 10px;
                }
            }
        }
    }
}

.page-flight-connections {
  #block-bahrain-theme-page-title {
    @include page_title;
    margin-top: 20px;
  }
    .region-content {
        line-height: 24px;
        text-align: justify;
    }
}

.page-special-assistance {
  #block-bahrain-theme-page-title {
    @include page_title;
    margin-top: 20px;
  }
    .region-content {
        line-height: 24px;
        text-align: justify;
    }
    h2 {
        font-weight: 700;
        font-size: 22px
    }
}
