@import 'variables_drupal';
@import 'mixins';
.taxi-page {
  .region-content {
    margin-top: 20px;
    @include page_title;
  }
    .field--name-field-to-from-the-airport-body {
        p a{
            color: $red;
            text-decoration: none;
            &:hover {
                color: $black;
            }
        }
        @media (max-width: 400px) {
            p a {
                font-size: 14px;
            }
        }
        ul {
            list-style-type: none;
            li a{
                color: $red;
                text-decoration: none;
                &:hover {
                    color: $black;
                }
            }
        }
    }
    .field--name-field-webform-field {
      margin-bottom: 40px;
        .js-form-item input {
            border-radius: 25px;
        }
        .js-form-item {
            #edit-date-date {
                border-radius: 0;
            }
            #edit-date-time {
                border-radius: 0;
            }
        }
      .form-item-phone-number {
        display: flex;
        flex-direction: column;
      }
      .form-type-datetime {
        display: flex;
        flex-direction: column;
        input {
          border: 1px solid #ced4da;
          padding: 0.375rem 0.75rem;
          border-radius: 25px;
        }
      }
      .js-form-item #edit-date-date,
      .js-form-item #edit-date-time{
        border-radius: 25px;
      }
      #edit-actions {
        margin: auto 0;
        display: flex;
        flex-direction: row;
        position: relative;
        #edit-submit {
          background-color: $red;
          color: $white;
          border: 0;
          border-radius: 20px;
          padding: 12px 44px 12px 20px;
          display: inline-block;
          &:hover {
            background-color: $dark-blue;
          }
        }
        &::after {
          content: '';
          position: absolute;
          background: url("../img/right-arrow.png") no-repeat;
          display: block;
          width: 15px;
          height: 14px;
          left: 83px;
          top: 18px;
          cursor: pointer;
          &:hover {
            animation: arrow 1s;
          }
        }
      }
    }
}
.bus-page {
    #block-bahrain-theme-page-title {
      @include page_title;
      margin-top: 20px;
    }
    .text-formatted p a{
        color: $red;
        text-decoration: none;
        &:hover {
            color: $black;
        }
    }
}
