@import 'variables_drupal';
@import 'mixins';
.car-park-page{
    .region-content {
        #block-bahrain-theme-page-title {
          margin-top: 20px;
          @include page_title;
        }
        #block-bahrain-theme-content {
            .view-header {
                @include header;
            }
            @media (max-width: 992px) {
                .view-header {
                    margin-bottom: 40px;
                }
            }
            @media (max-width: 500px) {
                .view-header {
                    font-size: 16px;
                }
            }
            .view-content{
                .views-row{
                    display: flex;
                    margin-bottom: 100px;
                    justify-content: space-between;
                    .views-field-field-to-from-the-airport-image {
                        padding: 0 40px;
                        width: 50%;
                        img {
                            border-radius: 9px;
                        }
                    }
                    .views-field-fieldset {
                        width: 50%;
                        padding: 0 40px;
                        .views-field-title {
                            font-size: 22px;
                            font-weight: bold;
                            color: #000;
                            margin-bottom: 5px;
                        }
                        .views-field-field-to-from-the-airport-body p a {
                            color: $red;
                            text-decoration: none;
                            &:hover {
                                color: $black;
                            }
                        }
                        .views-field-field-to-from-the-airport-table{
                            @include table_with_header;
                        }
                    }
                    &:nth-child(even){
                        flex-direction: row-reverse;
                    }
                }
                @media (max-width: 992px) {
                    .views-row{
                        flex-direction: column;
                        .views-field-field-to-from-the-airport-image{
                            width: 100%;
                            padding: 0 15px;
                            margin-bottom: 20px;
                            .field-content {
                                display: flex;
                                justify-content: center;
                                height: auto;
                                img{
                                    height: 100%;
                                    width: auto;
                                    object-fit: cover;
                                }
                            }
                        }
                        .views-field-fieldset {
                            width: 100%;
                            padding: 0 15px;
                        }
                        &:nth-child(even) {
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}
