// Theme variables.

$navbar-brand-image-height: 36px !default;
$navbar-brand-image-height-lg: 60px !default;
$navbar-brand-image-width: auto !default;
$navbar-brand-image-margin: 0 1rem 0 0 !default;

$navbar-brand-site-title-text-transform: uppercase !default;
$navbar-brand-site-title-font-size: 1.5rem !default;
$navbar-brand-site-title-font-weight: bold !default;
$navbar-brand-site-title-letter-spacing: 2px !default;
$navbar-brand-site-slogan-font-size: .875rem !default;

$region-padding: 0 .5rem !default;

$footer-padding: 2rem 0 !default;

$nav-tabs-link-active-bg-sm: #dee2e6 !default;

$local-tasks-primary-margin: 1rem 0 !default;
$local-tasks-secondary-margin: 0 0 1rem 0 !default;

$table-striped-bg: #f9f9f9 !default;

//Colors
$red: #DA291C;
$dark-blue: #1D242B;
$black: #000000;
$white: #FFFFFF;
$dark-grey: #D8D8D8;
$light-grey: #626262;
$violet: #2E1E53;
$dark-violet: #3B3B3B;
$table-grey: #dee2e6;

//Regular - 400, Medium - 500, Bold - 700
$arabic: 'Tajawal', sans-serif;

//Regular - 400 or 400 italic, Medium - 500, Semi-bold - 600, Bold - 700;
$english: 'Barlow', sans-serif;