@import 'variables_drupal';
@import 'mixins';

.page-node-type-interactive-map {
  .ui-widget-content {
    border-radius: 10px;
    border: none;

    .ui-dialog-titlebar {
      background: white;
      border: none;
      position: relative;
      padding: 0;
    }

    .ui-dialog-titlebar-close {
      transition: all 0.5s ease;
      z-index: 1000;
      position: absolute;
      top: 19px;
      right: 11px;
      display: inline-block;
      text-align: center;
      font-size: 11px;
      line-height: 0;
      width: 21px;
      height: 17px;
      background-color: $white;
      padding-top: 6px;
      border-radius: 100%;
      box-shadow: 0 0 6px 0 rgb(0 0 0 / 50%);
      opacity: 1;
      &:focus {
        box-shadow: unset;
      }
      &:hover {
        opacity: 0.75;
      }
    }

    .ui-dialog-title {
      display: none;
    }

    .ui-dialog-content {
      padding: 0;
    }

    h2 {
      display: none;
      a {
        color: $black;
        font-size: 19px;
        font-weight: normal;
        line-height: 22px;
        text-decoration: none;
        cursor: default;
        pointer-events: none;
      }
    }

    .field--name-field-at-the-airport-image {
      img {
        display: flex;
        position: relative;
        overflow: hidden;
        height: 100%;
        align-items: center;
        justify-content: center;
        min-height: 260px;
        max-height: 260px;
      }
    }

    .field--name-field-location {
      position: absolute;
      left: 15px;
      top: 15px;
      background-color: #9db0ac;
      border-radius: 2px;
      padding: 4px 8px 2px;
      font-size: 11px;
      line-height: 11px;
      text-transform: uppercase;
      letter-spacing: 0.46px;
      z-index: 1;
      display: inline-block;

      a {
        text-decoration: none;
        color: $white;
        cursor: default;
        pointer-events: none;
      }
    }

    .field--name-title {
      font-size: 19px;
      line-height: 22px;
      color: $black;
      display: block;
      margin: 10px 0 0 15px;
      &:lang(ar) {
        margin: 10px 15px 0 0;
      }
    }

    .field--name-body {
      padding: 15px;
    }
  }
  @media (max-width: 48em) {
    .ui-dialog {
      width: 310px!important;
    }
    .ui-widget-content {
      .field--name-field-at-the-airport-image {
        img {
          height: 100%;
          min-height: 220px;
          max-height: 220px;
        }
      }
    }
  }
}
.path-flight-tracker {
  #block-bahrain-theme-page-title {
    display: none;
  }
  #flights-map {
    margin-top: 50px;
  }
}
