// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.1/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Tajawal:wght@400;500;700&display=swap');

@import 'main.scss';

@import 'header.scss';

@import 'banner.scss';

@import 'footer.scss';

@import 'homepage-content.scss';

@import 'to-from-the-airport.scss';

@import 'car-rentals.scss';

@import 'taxi.scss';

@import 'procedures_special_assistance_services.scss';

@import 'at-the-airport.scss';

@import 'baggage.scss';

@import 'contact_us.scss';

@import 'cargo_and_logistics';

@import 'about-us';

@import 'airline_development';

@import 'business_opportunities';

@import 'careers.scss';

@import "corporate-mainpage";

@import 'media';

@import 'faq';

@import 'privacy_policy';

@import 'interactive-map';

@import 'news';

@import 'photo-and-video-gallery';

@import 'find_your_flight';

@import 'flights';
