{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{%
set nav_classes = 'navbar navbar-expand-lg' ~
  (b5_navbar_schema != 'none' ? " navbar-#{b5_navbar_schema}" : ' ') ~
  (b5_navbar_schema != 'none' ? (b5_navbar_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b5_navbar_bg_schema != 'none' ? " bg-#{b5_navbar_bg_schema}" : ' ')
%}

{%
set footer_classes = ' ' ~
  (b5_footer_schema != 'none' ? " footer-#{b5_footer_schema}" : ' ') ~
  (b5_footer_schema != 'none' ? (b5_footer_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b5_footer_bg_schema != 'none' ? " bg-#{b5_footer_bg_schema}" : ' ')
%}
<covid>
  <div class="{{ b5_top_container }}">
    {{ page.covid}}
  </div>
</covid>

<header>
<div class="{{ b5_top_container }} first_container ">
  {{ page.header }}
</div>
  {% if page.nav_branding or page.nav_main or page.nav_additional %}
  <div class = "{{ b5_top_container }} d-flex second_container">
    <div class = "nav_wrapper">

      {{ page.nav_branding }}

        <nav class="{{ nav_classes }}">

          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            <span class="navbar-line"></span>
            <span class="navbar-line"></span>
            <span class="navbar-line"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse justify-content-md-end flex-wrap" id="navbarSupportedContent">
            {{ page.nav_main }}
          </div>

        </nav>

        {{ page.nav_additional }}
    </div>

  </div>
  {% endif %}
<div class="{{ b5_top_container }} midbar ">
  {{ page.midbar }}
</div>
<div class="{{ b5_top_container }} tabs">
  {{ page.tabs }}
</div>
  {% if page.banner %}
    <div class="banner-region">
      {{ page.banner }}
    </div>
  {% endif %}
</header>

<main role="main">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  {%
  set sidebar_first_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3'
  %}

  {%
  set sidebar_second_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3'
  %}

  {%
  set content_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-lg-6' : ((page.sidebar_first or page.sidebar_second) ? 'col-12 col-lg-9' : 'col-12' )
   %}


  <div class="{{ b5_top_container }}">
    {% if page.breadcrumb %}
      {{ page.breadcrumb }}
    {% endif %}
    <div class="row g-0">
      {% if page.sidebar_first %}
        <div class="order-2 order-lg-1 {{ sidebar_first_classes }}">
          {{ page.sidebar_first }}
        </div>
      {% endif %}
      {% if page.flights %}
        <div class="flights-region">
          {{ page.flights }}
        </div>
      {% endif %}
      <div class="order-1 order-lg-2 {{ content_classes }}">
        {{ page.content }}
      </div>
      {% if page.sidebar_second %}
        <div class="order-3 {{ sidebar_second_classes }}">
          {{ page.sidebar_second }}
        </div>
      {% endif %}
    </div>
  </div>

  {% if page.instagram %}
    <div class="instagram-region">
      {{ page.instagram }}
    </div>
  {% endif %}

  {% if page.contact_us %}
    <div class="contact_us-region">
      {{ page.contact_us }}
    </div>
  {% endif %}
  {% if page.search_region %}
    <div class = "search-region">
      {{ page.search_region }}
    </div>
  {% endif %}
</main>
{% if page.footer %}
<footer class="mt-auto {{ footer_classes }}">
  <div class="{{ b5_top_container }}">
    {{ page.footer }}
  </div>
</footer>
{% endif %}
<div class="{{ b5_top_container }}">
  {{ page.brand_footer }}
</div>
