{{ attach_library('flights/flights_library') }}
<div class = "modal-notify-flights">
{% if status_plane != "cancelled" %}
  <h2 class ="title_modal">{{"Welcome to Bahrain Airport flight update service"|t}}</h2>
  <div class = "flight-number">Flight Number: {{ number }}</div>
  {{ form }}
  <p>{{"This notification is active only for 24 hrs starting from the moment of the request."|t}}</p>
{% else %}
<div class = "cancelled_status_plane">
  {{"Selected flight"|t}} {{ number }} {{"is already cancelled."|t}}
</div>
{% endif %}
</div>
